<p-table [value]="ejercitario" styleClass="p-datatable-customers" [rows]="10" [paginator]="true" [filterDelay]="0">
	<ng-template pTemplate="caption">
		<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
			Listado de Ejercitarios

			<p-dialog class="dialogo" [style]="{width: '400px'}">
				<div style="line-height: 1.5">
				</div>
			</p-dialog>

			<a routerLink="/dashboard/nuevo-ejercitario" pButton icon="pi pi-external-link"
				label="Agregar nuevo Ejercitario" style="width: auto"></a>


			<span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input pInputText type="text" (input)="dtc.filterGlobal($event.target.value, 'contains')"
					placeholder="Global Search" />
			</span>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="nombreDeEjercitario">Nombre
				<p-sortIcon field="nombreDeEjercitario"></p-sortIcon>
			</th>
			<th pSortableColumn="titulo">Competencia
				<p-sortIcon field="titulo"></p-sortIcon>
			</th>
			<th pSortableColumn="tipoejercitario">Tipo de ejercitario
				<p-sortIcon field="tipoDeEjercitario"></p-sortIcon>
			</th>
			<th pSortableColumn="duracion">Duracion
				<p-sortIcon field="duracion"></p-sortIcon>
			</th>
			<th pSortableColumn="nivel">Nivel
				<p-sortIcon field="nivel"></p-sortIcon>
			</th>
			<th width="350em">

			</th>

		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-ejercitario let-competencia>

		<tr>
			<td>
				<span class="p-column-title">{{ejercitario.nombreDeEjercitario}}</span>
			</td>

			<td>
				<span class="p-column-title">{{ejercitario.competencia?.titulo}}</span>
			</td>

			<td>
				<span class="p-column-title">{{ejercitario.tipoDeEjercitario}}</span>
			</td>

			<td>
				<span class="p-column-title">{{ejercitario.duracion}}</span>

			</td>

			<td>
				<span class="p-column-title">{{ejercitario.nivel}}</span>
				<!-- <pre>{{ejercitario|json}}</pre> -->
			</td>

			<td style="text-align: center">
				<a [href]="ejercitario.urlEjercitario" target="_blank" pbutton pripple
					class="p-button-success p-mr-2 p-mb-2 p-ripple p-button p-component"
					role="link">Ver</a>

				<a class="p-button-danger p-mr-2 p-mb-2 p-ripple p-button p-component"
					routerLink="/dashboard/editar-ejercitario/{{ejercitario.id}}">Editar</a>
				<!-- ng-reflect-label="Help" -->
				<a class="p-button-help p-mr-2 p-mb-2 p-ripple p-button p-component"
					routerLink="/dashboard/lista-pregunta/{{ejercitario.id}}">Preguntas
				</a>
				<a class="p-button-help p-mr-2 p-mb-2 p-ripple p-button p-component"
					routerLink="/dashboard/lista-rubrica/{{ejercitario.id}}">Rubrica
				</a>
			</td>

		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="8">No customers found.</td>
		</tr>
	</ng-template>
</p-table>
<p-dialog header="Información del Docente" [(visible)]="displayMaximizable" [modal]="true" [style]="{ width: '75vw' }"
	[maximizable]="true" [draggable]="false" [resizable]="false">
	<app-perfil *ngIf="displayMaximizable" [usuario]="usuario"></app-perfil>
</p-dialog>