<div class="profile" style="text-align: center; line-height: 2em">
    <h5>Mis Datos</h5>
    <img src="assets/img/profile.png" style="width: 100px" alt="" />
    <div class="product-list-detail">
        <h4>Claudio Maldonado</h4>
        <p><i class="pi pi-fw pi-envelope"></i> claudio@email.com</p>
        <p>
            Codigo:
            <!-- <p-splitButton label="AgSBJ51" [model]="items" styleClass="p-button-text p-button-plain"></p-splitButton> -->
        </p>
    </div>
</div>

<p-divider layout="horizontal" align="center"></p-divider>


<h6>Cambio de Contraseña</h6>
<form [formGroup]="formPassword" class="form-password">
    <div class="control" style="margin-top: 1em; width: 100%;">
        <input style="width: 100%;" formControlName="oldPassword" [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('oldPassword')}" type="password" pInputText placeholder="Contraseña actual" />
        <div *ngIf="formPassword.get('oldPassword').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('oldPassword')">Este campo es
                obligatorio.</small>
        </div>
    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <input style="width: 100%;" formControlName="newPassword" [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('newPassword')}" type="password" placeholder="Nueva contraseña" pPassword />
        <div *ngIf="formPassword.get('newPassword').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('newPassword')">Este campo es
                obligatorio.</small>
        </div>
    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <input style="width: 100%;" formControlName="passwordConfirm" [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('passwordConfirm')}" type="password" pInputText placeholder="Repita su nueva contraseña" />
        <div *ngIf="formPassword.get('passwordConfirm').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('passwordConfirm')">Este campo es
                obligatorio.</small>
        </div>
    </div>
    <div class="buttons" style="margin-top: 1em; width: 100%;">
        <button style="width: 100%;" (click)="onSubmitPassword()" pButton type="submit" label="Cambiar Contraseña"></button>
    </div>
</form>