<div class="profile" style="text-align: center; line-height: 2em">
    <h5>Mis Datos</h5>
    <img src="assets/img/profile.png" style="width: 100px" alt="" />
    <div class="product-list-detail">
        <h4>{{user.nombre}} {{user.apellido}}</h4>
        <p><i class="pi pi-fw pi-envelope"></i> {{user.email}}</p>
        <p>
            Codigo:
            <ng-container *ngIf="user.tipoUser === 'evaluador'; else codeTemplate">
                <p-splitButton [label]="user.codigo" [model]="items"
                    styleClass="p-button-raised p-button-plain p-button-text"></p-splitButton>
            </ng-container>
            <ng-template #codeTemplate>
                {{user.codigo}}
            </ng-template>
        </p>
    </div>
</div>

<p-divider align="center" type="dashed">
    <b>Cambio de Contraseña</b>
</p-divider>

<p-messages [(value)]="msg" [enableService]="false"></p-messages>
<form [formGroup]="formPassword" class="form-password">
    <div class="control" style="margin-top: 1em; width: 100%;">
        <h6>Contraseña actual *</h6>
        <input style="width: 100%;" formControlName="oldPassword"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('oldPassword')}" type="password" pInputText
            placeholder="Contraseña actual" />
        <div *ngIf="formPassword.get('oldPassword').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('oldPassword')">Este campo es
                obligatorio.</small>
        </div>
    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <h6>Nueva contraseña *</h6>
        <input style="width: 100%;" formControlName="newPassword"
        [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('newPassword') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
        type="password" pPassword placeholder="Nueva contraseña" />

        <!-- <input style="width: 100%;" formControlName="newPassword"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('newPassword') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
            type="password" placeholder="Nueva contraseña" pPassword /> -->
        <div *ngIf="formPassword.get('newPassword').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('newPassword')">Este campo es
                obligatorio.</small>
        </div>
       
    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <h6>Repita su nueva contraseña *</h6>
        <input style="width: 100%;" formControlName="passwordConfirm"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('passwordConfirm') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
            type="password" pInputText placeholder="Repita su nueva contraseña" />
        <div *ngIf="formPassword.get('passwordConfirm').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('passwordConfirm')">Este campo es
                obligatorio. <br /></small>
                
        </div>
        <small class="p-error" *ngIf="getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword')">Las
            contraseñas no coincidence.</small>
    </div>
    <div class="buttons" style="margin-top: 1em; width: 100%;">
        <button style="width: 100%;" (click)="onSubmitPassword()" pButton type="submit"
            label="Cambiar Contraseña"></button>
    </div>
</form>