<div class="profile" style="text-align: center; line-height: 2em">
    <h5>Mis Datos</h5>
    <!-- <img src="assets/img/profile.png" style="width: 100px" alt="" /> -->

    <div class="picture">
        <div class="box animate__animated animate__fadeIn">
            <figure tabindex="0" (keyup.enter)="onEnterFigure()" [ngClass]="{'error': imageSatusErr}">
                <img loading="lazy" loading="lazy" [src]="urlImageLocal || (user.img | image)" alt="Foto de perfil">
                <input title="Seleccione una foto de perfil." #inputFile class="image-select"
                    (change)="onChangePicture($event)" type="file" accept="image/*">
            </figure>
            <span>Seleccione una foto de perfil</span>
        </div>
        <span *ngIf="fileImage" class="p-buttonset animate__animated animate__fadeIn">
            <button (click)="onCancelImage()" pButton pRipple label="Cancelar" icon="pi pi-times"
                class="p-button-danger"></button>
            <button [disabled]="imageUpload" (click)="onLoadImage()" pButton pRipple label="Guardar"
                [icon]=" imageUpload ? 'pi pi-spin pi-spinner' : 'pi pi-check'"></button>
        </span>
    </div>



    <div class="product-list-detail">
        <h4>{{user.nombre}} {{user.apellido}}</h4>
        <p><i class="pi pi-fw pi-envelope"></i> {{user.email}}</p>
        <p>
            Codigo:
            <ng-container *ngIf="user.tipoUser === 'evaluador'; else codeTemplate">
                <p-splitButton [label]="user.codigo" [model]="items"
                    styleClass="p-button-raised p-button-plain p-button-text"></p-splitButton>
            </ng-container>
            <ng-template #codeTemplate>
                {{user.codigo}}
            </ng-template>
        </p>
    </div>
</div>

<p-divider align="center" type="dashed">
    <b>Cambio de Contraseña</b>
</p-divider>

<p-messages [(value)]="msg" [enableService]="false"></p-messages>
<form [formGroup]="formPassword" class="form-password">
    <div class="control" style="margin-top: 1em; width: 100%;">
        <label for="oldPassword">Contraseña actual *</label>
        <input style="width: 100%;" formControlName="oldPassword"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('oldPassword')}" type="password" pInputText
            placeholder="Contraseña actual" aria-describedby="oldPassword-description" />
        <div *ngIf="formPassword.get('oldPassword').invalid">
            <small id="oldPassword-description" class="p-error" *ngIf="getErrorRequiredPass('oldPassword')">Este campo
                es
                obligatorio.</small>
        </div>
    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <label for="newPassword">Nueva contraseña *</label>
        <input style="width: 100%;" formControlName="newPassword"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('newPassword') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
            type="password" pPassword placeholder="Nueva contraseña" aria-describedby="newPassword-description" />

        <!-- <input style="width: 100%;" formControlName="newPassword"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('newPassword') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
            type="password" placeholder="Nueva contraseña" pPassword /> -->
        <div *ngIf="formPassword.get('newPassword').invalid">
            <small id="newPassword-description" class="p-error" *ngIf="getErrorRequiredPass('newPassword')">Este campo
                es
                obligatorio.</small>
        </div>

    </div>

    <div class="control" style="margin-top: 0.5em; width: 100%;">
        <label for="passwordConfirm">Repita su nueva contraseña *</label>
        <input style="width: 100%;" formControlName="passwordConfirm"
            [ngClass]="{'ng-dirty ng-invalid':getErrorRequiredPass('passwordConfirm') || (getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword'))}"
            type="password" pInputText placeholder="Repita su nueva contraseña"
            aria-describedby="passwordConfirm-description" />
        <div *ngIf="formPassword.get('passwordConfirm').invalid">
            <small class="p-error" *ngIf="getErrorRequiredPass('passwordConfirm')">Este campo es
                obligatorio. <br /></small>

        </div>
        <small id="passwordConfirm-description" class="p-error"
            *ngIf="getErrorNotSame('passwordConfirm') || getErrorNotSame('newPassword')">Las
            contraseñas no coincidence.</small>
    </div>
    <div class="buttons" style="margin-top: 1em; width: 100%;">
        <button style="width: 100%;" (click)="onSubmitPassword()" pButton type="submit"
            label="Cambiar Contraseña"></button>
    </div>
</form>