.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img{
        height: 100px;
        width: 100px;
    }
    .box {
        //background-color: royalblue;
        //background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        figure {
          width: 200px;
          height: 200px;
          margin: 0;
          background-color: #fff;
          border-radius: 50%;
          border: 10px solid #f8f9fb;
          position: relative;
          transition: all ease 0.5s;
         
          &:hover {
            border: 10px solid var(--primary-color) !important;
          }
          &:focus {
            border: 10px solid var(--primary-color) !important;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
  }