<!-- <div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}"> -->
<div class="login-body layout-light">
    <div class="login-content animate__animated animate__fadeIn">
        <!-- <div class="night-switch">
                    <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dartActive(true)"></p-button>
                    <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dartActive(false)"></p-button>
                </div> -->

        <div class="login-panel">
            <div class="login-panel-content">
                <p-toast></p-toast>
                <div *ngIf="tokenVerify">
                    <h3>{{'login.resetPass' | translate}}</h3>
                
                    <form autocomplete="off" [formGroup]="angForm" id="loginForm" (ngSubmit)="sentEmail()">
                        <div class="forms">
                            <div class="viewPass">
                            <input class="passPass" id="passwordNew" formControlName="passwordNew"  [type]="show2?'text':'password'"
                                [ngClass]="{'ng-dirty':(passwordNew.invalid && (passwordNew.dirty || passwordNew.touched))}"
                                key placeholder="{{'security.newPass'|translate}}" type="password" pInputText>
                                <i tabindex="0" [ngClass]="{'pi-eye':!show2,'pi-eye-slash':show2}" class="pi"
                                (click)="show2=!show2" (keyup.enter)="show2=!show2"></i>
                                </div>
    
                            <div *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)">
                                <small id="passwordNew " class="p-error"
                                    *ngIf="passwordNew.errors.required">*{{'validation.obligatoryCamp'| translate}}*</small>
                                <small id="password" class="p-error"
                                    *ngIf="passwordNew.errors.pattern">*{{'validation.passwordEnter'|translate}}*
                                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                                        <li>{{'validation.passDigit'|translate}}</li>
                                        <li>{{'validation.passMinu'|translate}}</li>
                                        <li>{{'validation.passMayu'|translate}}</li>
                                        <li>{{'validation.passChar'|translate}}</li>
                                    </ul>
                                </small>
                            </div>
                        </div>
                        <br>
                        <div class="forms">
                            <input class="passPass" id="passwordNewAgain" formControlName="passwordAgain"
                                [ngClass]="{'ng-dirty':passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched)}"
                                (keyup)="validatorPassword()" placeholder="{{'security.againNewPass'|translate}}"
                                type="password" pInputText>
    
                            <div *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched)">
                                <small id="passwordAgain " class="p-error"
                                    *ngIf="passwordAgain.errors.required">*{{'validation.obligatoryCamp'|
                                    translate}}*</small>
                            </div>
                            <small id="passwordOld " class="p-error"
                                *ngIf="!flagConfirm && passwordAgain.dirty ">{{'security.confirmPassError' |
                                translate}}</small>
                        </div>
                        <br>
                        <div class="forms">
                            <div class="butonC">
    
                                &nbsp;
                                <button pButton pRipple type="submit" label="{{'newObject.form.btnSubmit'|translate}}" icon="pi pi-check"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="!tokenVerify">
                    <h3>{{'login.linkError' | translate}}</h3>
                    

                    <div class="box animate__animated animate__fadeIn">
                        <p-button label="{{'login.requestVerification' | translate}}" style="padding: 10px 10px ;"  [routerLink]="[ '/restart-password' ]"></p-button>

                        <a pButton pRipple type="button" [label]="'menu.login' | translate" class="p-button-text"
                            [routerLink]="[ '/login' ]" routerLinkActive="p-menuitem-link-active" ></a>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>