<p-card tabindex="0" [style]="{ width: '100%', 'margin-bottom': '1em' }" *ngFor="let comentario of comentarios">
    <div class="user">

        <ng-container *ngIf="(!evaluador && comentario.evaluador) || (evaluador && comentario.participante); else elseTemplate">
            <p *ngIf="!evaluador && comentario.evaluador">{{comentario.evaluador.usuario.nombre}} {{comentario.evaluador.usuario.apellido}}</p>
            <p *ngIf="evaluador && comentario.participante">{{comentario.participante.usuario.nombre}} {{comentario.participante.usuario.apellido}}</p>
        </ng-container>
        <ng-template #elseTemplate>
            <p>Yo</p>
        </ng-template>

        <span>{{ date(comentario.fechaComentario) }}</span>
    </div>
    <p>{{ comentario.comentario }}</p>
</p-card>

<p *ngIf="comentarios.length === 0">
    No hay comentarios.
</p>

<div class="input-comentario" style="padding-top: 2em">
    <div class="comentario" style="text-align: left">
        <span class="p-float-label">
            <textarea #coment [ngClass]="{'ng-dirty ng-invalid': error}" [(ngModel)]="comentario" id="float-input" width="100%" rows="5" pInputTextarea aria-describedby="comment-description"></textarea>
            <label for="float-input">Comentario</label>
        </span>
        <small *ngIf="error" id="comment-description"
        class="p-error">Pro favor llene el campo de comentario.</small>
    </div>
    
    <p-button (click)="comentar()" label="Comentar"></p-button>
</div>