<p-card [style]="{ width: '100%', 'margin-bottom': '1em' }" *ngFor="let comentario of comentarios">
    <div class="user">

        <ng-container *ngIf="(!evaluador && comentario.evaluador) || (evaluador && comentario.participante); else elseTemplate">
            <h6 *ngIf="!evaluador && comentario.evaluador">{{comentario.evaluador.usuario.nombre}} {{comentario.evaluador.usuario.apellido}}</h6>
            <h6 *ngIf="evaluador && comentario.participante">{{comentario.participante.usuario.nombre}} {{comentario.participante.usuario.apellido}}</h6>
        </ng-container>
        <ng-template #elseTemplate>
            <h6>Yo</h6>
        </ng-template>

        <span>{{ date(comentario.fechaComentario) }}</span>
    </div>
    <p>{{ comentario.comentario }}</p>
</p-card>

<p *ngIf="comentarios.length === 0">
    No hay comentarios.
</p>

<div class="input-comentario" style="padding-top: 2em">
    <span class="p-float-label">
        <textarea [(ngModel)]="comentario" id="float-input" width="100%" rows="5" pInputTextarea></textarea>
        <label for="float-input">Comentario</label>
    </span>
    <p-button (click)="comentar()" label="Comentar"></p-button>
</div>