<!-- <div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}"> -->
<div class="login-body layout-light">
    <div class="login-content animate__animated animate__fadeIn">
        <!-- <div class="night-switch">
                <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dartActive(true)"></p-button>
                <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dartActive(false)"></p-button>
            </div> -->

        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img loading="lazy" src="assets/img/image2vector.svg" [alt]="'menu.altLogo' | translate" />
                </div>
                <h3>{{'login.resetPass' | translate}}</h3>
                <p-toast></p-toast>
                <form autocomplete="off" [formGroup]="angForm" id="loginForm" (ngSubmit)="sentEmail()">
                    <div class="forms">
                        <p>{{'login.resetDescription'|translate}}</p>
                        <div class="p-col-12 p-md-12">
                            <input id="email" type="text" formControlName="email" [ngClass]="{'ng-dirty ng-invalid':(email1.invalid && (email1.dirty || email1.touched)) || emailCheck}"
                                [placeholder]="'login.placeholderEmail' | translate" pInputText>
                                <div *ngIf="email1.invalid && (email1.dirty || email1.touched)">
                                    <small id="email1 " class="p-error"
                                        *ngIf="email1.errors.required">*{{'validation.obligatoryCamp'|translate}}*</small>
                                    <small id="email1" class="p-error"
                                        *ngIf="email1.errors.pattern">{{'validation.errorEmail'|translate}}</small>
                                       
                                </div>
                                <small id="passwordOld " class="p-error"
                                *ngIf="emailCheck  ">*{{'validation.emailValid'|translate}}*</small>
                               
                        </div>
                    </div>
                    <div class="forms">

                        <button pButton type="submit" label="{{'login.sentResEmail' | translate}}"
                            class="p-button"></button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>