<p-table [value]="expertoApro" styleClass="p-datatable-customers" [rows]="10" [paginator]="true" [filterDelay]="0">
	<ng-template pTemplate="caption">
		<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
			Lista de expertos registrados en la plataforma
			<span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input pInputText type="text" (input)="dtc.filterGlobal($event.target.value, 'contains')"
					placeholder="Global Search" />
			</span>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="name">Nombre
				<p-sortIcon field="name"></p-sortIcon>
			</th>
			<th pSortableColumn="">Fecha de Registro
				<p-sortIcon field=""></p-sortIcon>
			</th>
			<th pSortableColumn="">Profecion
				<p-sortIcon field=""></p-sortIcon>
			</th>
			<th pSortableColumn="">Direccion
				<p-sortIcon field=""></p-sortIcon>
			</th>
			<th pSortableColumn="">Estado Cuenta
				<p-sortIcon field=""></p-sortIcon>
			</th>

			<th pSortableColumn="boton">	
			</th>

			
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-expertoApro>
		<tr >
			<td>
				<span class="p-column-title">{{expertoApro.usuario?.nombre}} {{expertoApro.usuario?.apellido}}</span>
			</td>
			<td>
				<span class="p-column-title">{{expertoApro.usuario?.last_login}}</span>
			</td>
			<td>
				<span class="p-column-title">{{expertoApro.usuario?.carreraUniversitaria}}</span>
			</td>
			<td>
				<span class="p-column-title">{{expertoApro.usuario?.direccion}}</span>
			</td>
			
			<td>
				<span class="p-column-title">{{expertoApro.usuario?.estado}}</span>
				
			</td>
			<td>
				<button pbutton="" pripple="" (click)="showModal(expertoApro.usuario)" type="button" label="Success" class="p-button-raised p-button-success p-mr-2 p-mb-2 p-ripple p-button p-component" ng-reflect-label="Success">
					<span class="p-button-label">Ver Perfil</span><span class="p-ink" style="height: 71px; width: 71px; top: -14.5px; left: 2.70312px;"></span></button>
				
				<button pbutton="" pripple="" (click)="bloquarCuenta(expertoApro.usuario?.id)" type="button" (click)="display=True" label="Danger" class="p-button-raised p-button-danger p-mr-2 p-mb-2 p-ripple p-button p-component" ng-reflect-label="Danger" *ngIf=" expertoApro.usuario?.estado == true ; else other_content" >
					<span class="p-button-label" >Desabilitar Cuenta</span>
					
				</button>
				
					<ng-template #other_content>
						<button pbutton="" pripple="" (click)="bloquarCuenta(expertoApro.usuario?.id)"  type="button" label="Warning" class="p-button-raised p-button-warning p-mr-2 p-mb-2 p-ripple p-button p-component" ng-reflect-label="Warning">
							<span class="p-button-label" >Habilitar Cuenta</span>

						</button>		
					</ng-template>
				
			</td>
			
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="8">No customers found.</td>
		</tr>
	</ng-template>
</p-table>

<p-dialog header="Información del Docente" [(visible)]="displayMaximizable" [modal]="true" [style]="{ width: '75vw' }" [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-perfil *ngIf="displayMaximizable" [usuario]="usuario"></app-perfil>
</p-dialog>