<body class="landing-body">
  <div class="landing-nav-menu" style="background-color: #eceef3">
    <div class="logo">
      <a href="#">
        <img
          src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg"
          style="width: 5em"
          alt="logo"
        />
        <span class="app-name">Simuladores Laborales</span>
      </a>
    </div>

    <div class="nav-menu-wrapper">
      <ul class="nav-menu" id="landing-menu">
        <li class="active-link">
          <a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
        </li>
        <li>
          <a href="">Información</a>
        </li>
        <li>
          <a href="">Simuladores</a>
        </li>
        <li>
          <a href="">Acerca de</a>
        </li>
        <li>
          <a [routerLink]="['/about-us']" routerLinkActive="active"
            >¿Quiénes Somos?</a
          >
        </li>
      </ul>
    </div>

    <div class="buy-button">
      <button type="button" class="p-button" routerLink="/login">
        Iniciar Sesión
      </button>
      <br />
      <button type="button" class="p-button" routerLink="/register">
        Registrar
      </button>
    </div>

    <div class="menu-button">
      <a href="#" class="landing-menu-button" id="landing-menu-button">
        <div class="landing-menu-button-icon"></div>
      </a>
    </div>
  </div>

  <div
    class="p-col-12"
    style="width: 100%; align-items: center; justify-content: space-between"
  >
    <div class="card">
      <h3 style="width: 100%; align-items: center; text-align: center">
        Ingrese su Información Personal
      </h3>
      <div class="p-grid">
        <div class="p-col-3 p-d-flex p-ai-center p-jc-center">
          <div class="p-fluid">
            <div class="p-field">
              <div>
                <div style="text-align: center; line-height: 2.5em">
                  <!--
                                          Codigo para mostrar fotografia del usuario
                                          <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name"/>
                                      -->
                  <h3>Regístrate gratis ahora mismo!</h3>
                  <img
                    src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg"
                    style="width: 100px"
                    alt="logo"
                  />
                  <div class="product-list-detail">
                    <h4>Simuladores Laborales</h4>
                    <span>
                      Por una educación de calidad, somos un equipo de trabajo
                      que brinda su servicio arduamente a la comunidad con
                      nuestros conocimientos dentro de los diferentes entornos
                      de desarrollo tecnológico, con habilidades excepcionales
                      dispuestos ha ayudar con herramientas tecnológicas sin
                      animo de lucro.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Linea de division de componentes-->
        <div class="p-col-1">
          <p-divider layout="vertical"> </p-divider>
        </div>

        <div style="margin-top: 2em" class="p-col-7 p-ai-center p-jc-center">
          <form
            class="forms"
            class="p-grid p-fluid"
            (ngSubmit)="onSubmit(signInForm)"
            #signInForm="ngForm"
          >
            <div class="p-col-12 p-md-6">
              <h5 style="text-align: center">
                Información Personal y de Contacto
              </h5>
              <div class="card">
                <h6>Nombres:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Nombre"
                      id="nombre"
                      name="nombre"
                      required
                      autofocus
                      [(ngModel)]="nombreExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>

                <h6>Apellidos:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Apellido"
                      id="apellido"
                      name="apellido"
                      required
                      autofocus
                      [(ngModel)]="apellidoExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>

                <h6>Teléfono:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-phone"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Número de teléfono"
                      id="telefono"
                      name="telefono"
                      required
                      autofocus
                      [(ngModel)]="telefonoExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>

                <h6>Pais:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Pais"
                      id="pais"
                      name="pais"
                      required
                      autofocus
                      [(ngModel)]="paisExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>

                <h6>Ciudad:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Ciudad"
                      id="ciudad"
                      name="ciudad"
                      required
                      autofocus
                      [(ngModel)]="ciudadExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>

                <h6>Direccion:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Direccion"
                      id="direccion"
                      name="direccion"
                      required
                      autofocus
                      [(ngModel)]="direccionExperto"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio</span
                  >
                </div>
                <h6>Nivel de Formación:</h6>
                <div class="p-grid p-formgrid">
                  <input
                    type="text"
                    pInputText
                    placeholder="Ingrese su nivel de formación"
                    id="nivelFormacion"
                    name="nivelFormacion"
                    autofocus
                    [(ngModel)]="nivelFormacionExperto"
                  />
                </div>
              </div>
            </div>

            <div class="p-col-12 p-md-6">
              <h5>Información necesaria para utilizar Apliación</h5>
              <div class="card">
                <h6>Email:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Correo Electronico"
                      id="email"
                      name="email"
                      required
                      autofocus
                      [(ngModel)]="emailExperto"
                      (keyup)="checkRegexCorreo()"
                    />
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio &nbsp;</span
                  >
                  <span *ngIf="checkCorreo" style="color: red"
                    >Correo Invalido &nbsp;</span
                  >
                  <div
                    class="alert alert-danger"
                    role="alert"
                    style="margin-bottom: 1em; color: #ce7483"
                    *ngIf="areCredentialsInvalid"
                  >
                    Correo utilizado anteriormente
                  </div>
                </div>

                <h6>Ingrese una contraseña:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <input
                      type="password"
                      placeholder="Ingrese su contraseña"
                      pPassword
                      required
                      ngModel
                      [feedback]="false"
                      id="password"
                      name="password"
                      required
                      autofocus
                      [(ngModel)]="passwordExperto"
                      (keyup)="validarPassword()"
                      style="width: 75%"
                    />
                    <button
                      pButton
                      type="button"
                      id="buttonMostrar"
                      (click)="mostrarPassword()"
                      label="Mostrar"
                      style="width: 25%"
                    ></button>
                  </span>
                  
                  <div class="alert alert-danger" role="alert">
                    <p id="tipoPassword"></p>
                  </div>
                </div>

                <h6>Repita la contraseña:</h6>
                <div class="p-grid p-formgrid">
                  <span class="p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <input
                      type="password"
                      placeholder="Ingrese su contraseña"
                      pPassword
                      required
                      ngModel
                      [feedback]="false"
                      id="passwordVerificacion"
                      name="passwordVerificacion"
                      required
                      autofocus
                      [(ngModel)]="passwordVerificacionExperto"
                      (keyup)="verificacionSimilaridadPassword()"
                      (click)="verificacionSimilaridadPassword()"
                      style="width: 75%"
                    />
                    <button
                      pButton
                      type="button"
                      id="buttonMostrarVerificacion"
                      (click)="mostrarPasswordVerificacion()"
                      label="Mostrar"
                      style="width: 25%"
                    ></button>
                  </span>
                  <span *ngIf="isFormValid" style="color: red"
                    >* Obligatorio &nbsp;</span
                  >
                  <div
                    class="alert alert-danger"
                    role="alert"
                    style="margin-bottom: 1em; color: #ce7483"
                    *ngIf="passwordIncorrect == true"
                  >
                    Contraseñas no coinciden
                  </div>
                  <div
                    class="alert alert-danger"
                    role="alert"
                    style="margin-bottom: 1em; color: #5fe6b2"
                    *ngIf="passwordIncorrect == false"
                  >
                    Contraseñas coinciden
                  </div>
                </div>

                <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-bottom: 1em; color: #ce7483"
                  *ngIf="isFormValid"
                >
                  Por favor llena todos los espacios.
                </div>
              </div>
            </div>

            <div class="buttons" style="width: 100%">
              <button
                pButton
                type="submit"
                label="Registrarme"
                style="margin-right: 2em"
              ></button>
            </div>
            <div
                  class="alert alert-danger"
                  role="alert"
                  style="margin-bottom: 1em; color: #74ce92"
                  *ngIf="usuarioRegistrado"
                >
                  Experto Registrado Exitosamente
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-footer" style="background-color: #eceef3">
    <div class="logo-text">
      <img
        src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg"
        alt="mirage-layout"
      />
      <div class="text">
        <h1>Simuladores Laborales</h1>
        <span>ERASMUS + EDUTECH project</span>
      </div>
    </div>

    <div class="logo-text">
      <i class="pi pi-map-marker" style="font-size: 2rem"></i>
      <div class="text">
        <h1 style="font-weight: bold">Ubicacion</h1>
        <span
          >Calle Vieja, El vecino <br />
          Cuenca-Ecuador</span
        >
      </div>
    </div>

    <div class="logo-text">
      <div class="text">
        <span style="font-size: 0.8em">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoc3XjPuzTq4QNg9HrchCCOaL8_nMONfzuvCbc-Wx94lGkPX6BpUYqItDx3-xBs0ioVQ&usqp=CAU"
            alt="mirage-layout"
            style="width: 100%"
          />
          <br />
          &copy; 2022 Todos los derechos reservados | Developed By
          <a href="https://edutech-project.org/">EduTech</a> <br />
          <a
            [routerLink]="['/terms-and-conditions']"
            style="width: 100%; text-align: center; font-size: 12px"
          >
            Términos y condiciones</a
          >
        </span>
      </div>
    </div>

    <div class="logo-text">
      <i class="pi pi-wifi" style="font-size: 2rem"></i>
      <div class="text">
        <h1 style="font-weight: bold">Redes Sociales</h1>

        <div class="icon icon-hastag">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:catedraunescoinclusion@ups.edu.ec">
              catedraunescoinclusion@ups.edu.ec
            </a></span
          >
        </div>

        <div class="icon icon-hastag">
          <span>
            <i class="pi pi-facebook" style="font-size: 1em"></i>
            <a href=" https://www.facebook.com/inclusionups/">
              https://www.facebook.com/inclusionups/
            </a></span
          >
        </div>
      </div>
    </div>
  </div>
</body>
