
    <div class="p-col-12" style="width: 100%; align-items: center; justify-content: space-between;">
        <div class="card">
            <h3 style="width: 100%; align-items: center; text-align: center;">Información Personal</h3>
            <div class="p-grid">
                
        
                <div class="p-col-12 p-ai-center p-jc-center">
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h6>Nombres:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="James Alexander"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Email:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-envelope"></i>
                                        <input type="text" pInputText placeholder="james1@gmail.com"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Ciudad:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        
                                            <input type="text" pInputText placeholder="Cuenca Ecuador"/>
                                        
                                    </span>
                                </div>
    
                                <h6>Carrera Universitaria:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Comunicación"/>
                                </div>
    
                                <h6>Estado Civil:</h6>
                                <div class="p-grid p-formgrid">
                                    
                                        <input type="text" pInputText placeholder="Soltero"/>
                                    
                                    
                                </div>
    
                                <h6>Etnia:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Záparo"/>
                                </div>
    
                                <h6>Estudios Previos:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="N/A"/>   
                                </div>
    
                               
                                
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h6>Apellidos:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="Butt Amaya"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Teléfono:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-phone"></i>
                                        <input type="text" pInputText placeholder="0988099592"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Fecha de Nacimiento:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <p-calendar [showIcon]="true" inputId="icon" placeholder="07/20/1998"></p-calendar>
                                    </span>
                                    
                                </div>
    
                                <h6>Grado de Discapacidad:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="30%"/>
                                    </span>  
                                </div>
    
                                <h6>Número de Hijos:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="0"/>
                                    </span>
                                </div>

                                <h6>Identidad:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="Masculino"/>
                                    </span>
                                </div>
    
    
                                <h6>Nivel de Formación:</h6>
                                <div class="p-grid p-formgrid">
                                   <input type="text" pInputText placeholder="Universitario"/>
                                </div>
                                
                              
                            </div>
                            
                            
    
                        </div>
                        <div class="p-col-12 p-md-12">
                            <div class="card">
                                <h6>Experiencia Laboral</h6>
                                <div class="p-grid p-formgrid">
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-user"></i>
                                            <input type="text" pInputText placeholder="Cominicación"/>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="2 años de experiencia"/>
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-left p-input-icon-right">
                                            <i class="pi pi-user"></i>
                                            <input type="text" pInputText placeholder="Sector Económico"/>
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                       
                    </div>
    
                </div>
            </div>
  

        </div>

    </div>


    
    <div class="p-col-12">
        <div class="card">
            <h5>Comentarios en el Escenario 1</h5>
            <div class="p-grid">
                <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
                    <div class="p-fluid">
                        <textarea rows="25" cols="35" placeholder="     Fecha : 09/09/09 
                    Observaciones
                    Conclusiones " pInputTextarea></textarea>
                        <p-button label="Agregar Comentario" icon="pi pi-bookmark" class="p-mr-2 p-mb-2"></p-button>

                    </div>

                    

                </div>


                <div class="p-col-1">
                    
                </div>

                <div class="p-col-5 p-ai-center p-jc-center">

                    <p-scrollPanel [style]="{width: '100%', height: '500px'}">
                        <h5>Listado de Comentarios en el Escenario 1</h5>
                        
                        <p>
                            10/9/21

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Vitae et leo duis ut diam.
                            Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
                            Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
                            Est ultricies intus et netus et malesuada fames ac turpis egestas.
                            Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
                            Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies integer.
                            Mattis aliquam faucibus purus in massa tempor nec.
                        </p>
                        <p-divider layout="horizontal" align="center">
                            <span class="p-tag">Badge</span>
                        </p-divider>

                        
                        <p>
                            1/10/21

                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    
                        <p-divider layout="horizontal" align="center">
                            <span class="p-tag">Badge</span>
                        </p-divider>

                        <p>
                            1/10/21

                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    
                        <p-divider layout="horizontal" align="center">
                            <span class="p-tag">Badge</span>
                        </p-divider>
    
                        <p>
                            3/10/21

                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    
                        <p-divider layout="horizontal" align="center">
                            <span class="p-tag">Badge</span>
                        </p-divider>
    
    
                        
                        <p>
                            15/11/21

                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                            laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    
                        <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
                    </p-scrollPanel>
                   
                </div>
            </div>
        </div>
    </div>
    


 <!-- ESTO ES PARA LAAS GRAFICAS -->

 <div class="card">
    <div class="p-grid p-fluid">
            <div class="p-col-12 p-lg-6">

                <div class="card">
                                <h5 class="centerText">Datos generales</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus ratione, alias in cum cupiditate culpa quibusdam illum dolorum nesciunt facere vitae eligendi nisi libero excepturi labore corrupti! Illum, nobis.
                                </p>
                </div>

                <div class="p-col-12">
                    <div class="card">
                        <div class="" style="align-items: center;">
                            <label for="state"> <h5> Intento Vs   </h5> </label>
                            <span class="p-field p-col-12 p-md-3">
                                <p-dropdown inputId="state" [options]="op" [(ngModel)]="selGrafica1" placeholder="Select" optionLabel="name"></p-dropdown>
                            </span>
                                            
                        </div>

                        <p-chart type="line" [data]="lineData"></p-chart>
                    </div>
                    
                   
                </div>
            
            </div>
            
            <div class="p-col-12 p-lg-6">

                <div class="card">
                    <div class="p-grid p-fluid">
                         
                            <h5 class="centerText">Datos generales</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus ratione, alias in cum cupiditate culpa quibusdam illum dolorum nesciunt facere vitae eligendi nisi libero excepturi labore corrupti! Illum, nobis.</p>
                        

                        
                    </div>
                </div>

                <div class="card">
                    
                    <div class="card">
                        <h5 class="centerText">Porcentaje de Discapacidad </h5>
                        <p-chart type="radar" [data]="radarData"></p-chart>
                    </div>
                </div>
                
               
            </div>
    </div>
</div>



 <!-- ESTO ES PARA LAAS TABLA DE LISTAR ESTUDIANTE -->

 <div class="card">
    <h5>Listado de intentos</h5>
    <p>Escenario 1</p>
    <p-table #dt1 [value]="customers" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Mostrar {first} hasta {last} de {totalRecords} registros"
        [globalFilterFields]="['name','country.name','representative.name','status']">
        

        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                </span>
            </div>

        </ng-template>

        <ng-template pTemplate="header">
            <tr>
               


                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Id Intento
                        <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="country.name" >
                    <div class="p-d-flex p-jc-between p-ai-center">
                       
                        Total de Preguntas
                        <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="representative.name">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Preguntas Correctas
                        <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold">Buscar agente</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <img [alt]="option.label" src="assets/showcase/images/demo/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                            <span class="p-ml-1">{{option.name}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fecha de Creación
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                    </div>
                </th>
                
                <th th pSortableColumn="status">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tiempo de Resolución 
                        <p-columnFilter field="status" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="activity" >
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nota
                        <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="p-m-3"></p-slider>
                                <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                                    <span>{{activityValues[0]}}</span>
                                    <span>{{activityValues[1]}}</span>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Seleccionar
                   </div>
                </th>


                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>

                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>

                <td>
                    {{customer.name}}
                </td>
                <td>
                    <span class="image-text">{{customer.country.name}}</span>
                </td>
                <td>
                    <span class="image-text">{{customer.representative.name}}</span>
                </td>
                <td>
                    {{customer.date | date: 'MM/dd/yyyy'}}
                </td>
                
                <td>
                    <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                </td>
                <td>
                    <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
                </td>

                <td style="text-align: center">
                    <button pButton type="button" class="p-button-primary" icon="pi pi-user-plus"></button>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



