<div class="p-col-12">
    <div class="card">
        <div class="p-grid">
            <div class="p-col-6 p-d-flex p-ai-center p-jc-center">
                <div class="p-col-12">
                    <h2 class="p-col-12" style="margin-top: 2em; text-align: center; color: #71d5ea; font-weight: bold;" >Información General</h2>
                    <div>
                        <label style="font-size: 15px;" for="state">Tipos de Discapacidad vs </label>
                        <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Seleccione" optionLabel="name" (ngModelChange)="seleccionTipoGrafico()"></p-dropdown>
                    </div>

                    <div class="card">
                        <h5 class="centerText" class="p-col-12" style="text-align: center;">Tipo de Discapacidad VS {{selectedState.name}} Globales</h5>
                        <p-chart type="bar" [options]="options" [data]="barData"></p-chart>
                    </div>


                    <div class="p-col-12">
                        <p style="font-size: 16px;">Simuladores Laborales en Números</p>
                        <div class="card">
                            <div class="p-col-12">
                                <p-fieldset legend="Cantidad de participantes por Identidad" toggleable="true" collapsed="true">
                                    <div class="p-grid p-formgrid">
                                    
                                        <span class="p-col-12 p-md-3">
                                            <b>Hombres:</b> 100 
                                        </span>
                                        <span class="p-col-12 p-md-3">
                                            <b>Mujeres:</b> 100 
                                        </span>
                                        <span class="p-col-12 p-md-3">
                                            <b>LGBT:</b> 100 
                                        </span>
                                        <span class="p-col-12 p-md-3">
                                            <b>Otros:</b> 100 
                                        </span>
                                    </div>
                                </p-fieldset>
                                
                                
                            </div>

                            <div class="p-col-12">
                                <p-fieldset legend="Información Global de los Escenarios" toggleable="true" collapsed="true">
                                    <div class="p-grid p-formgrid">
                                    
                                        <span class="p-col-12 p-md-12">
                                            <b>Mayor número de participantes:</b> Escenario 1 
                                        </span>
                                        <span class="p-col-12 p-md-12">
                                            <b> Mayor número de intentos:</b> Escenario 3  
                                        </span>
                                        <span class="p-col-12 p-md-12">
                                            <b>Menor número de intentos:</b> Escenario 5  
                                        </span>
                                        <span class="p-col-12 p-md-12">
                                            <b>Mejor promedio de notas:</b> Escenario 5  
                                        </span>
                                        <span class="p-col-12 p-md-12">
                                            <b>Peor promedio de notas:</b> Escenario 5  
                                        </span>
    
                                    </div>
                                </p-fieldset>
                            </div>

                            <div class="p-col-12">
                                <p-fieldset legend="Información Tipo de Discapacidad en Escenarios" toggleable="true" collapsed="true">
                                    <div class="p-grid p-formgrid">
                                        
                                        <h6>Discapacidad Visual</h6>
                                        <span class="p-col-12 p-md-12">
                                            
                                            Mejor escenario: Escenario 1 <br>
                                            Peor escenario: Escenario 6 
                                        </span>
                                        
                                        <h6>Discapacidad Física</h6>
                                        <span class="p-col-12 p-md-12">  
                                            Mejor escenario: Escenario 1 <br>
                                            Peor escenario: Escenario 3 
                                        </span>

                                        <h6>Discapacidad Intelectual</h6>
                                        <span class="p-col-12 p-md-12">
                                            Mejor escenario: Escenario 2  <br>
                                            Peor escenario: Escenario 3 
                                        </span>
                                        
                                        <h6>Discapacidad Auditiva</h6>
                                        <span class="p-col-12 p-md-12">
                                            Mejor escenario: Escenario 4 <br>
                                            Peor escenario: Escenario 1 
                                        </span>

                                        <h6>Sin Discapacidad</h6>
                                        <span class="p-col-12 p-md-12">
                                            
                                            Mejor escenario: Escenario 6  <br>
                                            Peor escenario: Escenario 5 
                                        </span>
    
                                    </div>
                                </p-fieldset>
                                
                                
                            </div>

                        </div>
                        
                    </div>
                    

                </div>
            </div>
  
  
            <div class="p-col-1">
                <p-divider layout="vertical">
                    
                </p-divider>
            </div>
  
           
            <div class="p-col-5  p-ai-center p-jc-center" style="margin-top: 4em;">
                <div class="p-col-12">
                    <h2 class="p-col-12" style="text-align: center; color: #71d5ea; font-weight: bold;" >Información de los Ejercitarios </h2>
                    <div>
                        <label style="font-size: 15px;" for="state">Seleccione un Ejercitario: </label>
                        <p-dropdown inputId="state" [options]="ejercitarios" [(ngModel)]="selectedEjercitario" placeholder="Seleccione" optionLabel="name" (ngModelChange)="seleccionEscenario()"></p-dropdown>
                    </div>
                </div>
                
                <div class="card">
                    <h5 class="centerText" class="p-col-12" style="text-align: center;">Información del Ejercitario: {{escenario.getNombreDeEjercitario}}</h5>
                    <p>
                        <b>Tipo de Ejercitario:</b> {{escenario.getTipoDeEjercitario}} <br>
                        <b>Nombre de Ejercitario:</b> {{escenario.getNombreDeEjercitario}} <br>
                        <b> Principales Competencias medidas:</b>{{escenario.getPrincipalCompetenciasEjercitario}} <br>   
                        <b> Duración de Ejercitario:</b> {{escenario.getDuracionEjercitarioPorMinutos}}<br>
                        <b> Numero de Ejercitario: </b> {{escenario.getNumeroDeEjercitario }}<br>
                        <b>Instrucción principal: </b> {{escenario.getInstruccionPrincipalDeEjercitario}}<br>
                    </p>
                                 
                    <div style="width: 100%; text-align: center; margin-top: 2em;">
                        <a  [routerLink]="['/Pagina-Principal-Experto/escenarioInfo', correoResponsableDatos, escenario.getNumeroDeEjercitario]" routerLinkActive="active">
                            <div class="buttons" style="margin-top: 1em">
                                <button
                                    pButton
                                    type="button"
                                    label="&nbsp; Abrir Reporte"
                                >
                                <i class="pi pi-fw pi-chart-line"></i>
                                </button>
                            </div>
                        </a>
                        
                    </div>
                   
                </div>
                

                
                
                
              
            </div>
        </div>
    </div>
  </div>