<p-scrollPanel [style]="{width: '100%', height: '50vh'}">
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
        <div class="user">
            <h6>Claudio</h6>
            <span>Hoy a las 4pm</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
    
        <h6>Yo</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
    
        <h6>Yo</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
    
        <h6>Yo</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
    
        <h6>Yo</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    
    <p-card [style]="{'width': '100%', 'margin-bottom': '1em'}">
    
        <h6>Yo</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
</p-scrollPanel>



<div class="input-comentario" >
    <span class="p-float-label">
        <textarea id="float-input" width="100%" rows="5" pInputTextarea></textarea>
        <label for="float-input">Comentario</label>
    </span>
    <p-button label="Comentar"></p-button>
</div>
