<app-hero [titulo]="titulo" [descripcion]="descripcion" [btnText]="btnText" [imgLink]="imgLink"></app-hero>
<div id="meet-mirage" class="section">
    <div class="section-title">
        <h1>Información</h1>
        <p>Nuestro Proyecto</p>
    </div>
    <div class="p-grid" style="text-align: center; margin-top:25px; font-size: 12pt;">
        <div class="info-card p-col-12 p-md-4 p-lg-4">
            <img src="assets/img/undraw_super_thank_you_re_f8bo.svg" alt="mirage-layout" />
            <h5>{{ participantes }} Participantes</h5>
            <p>El proyecto actualmente cuenta con {{ participantes }} Participantes que han realizado nuestros
                simuladores</p>
        </div>
        <div class="info-card p-col-12 p-md-4 p-lg-4">
            <img src="assets/img/undraw_organizing_projects_re_9p1k.svg" alt="mirage-layout" />
            <h5>{{ simuladores }} Simuladores</h5>
            <p>El proyecto cuenta con {{ simuladores }} simuladores ya funcionando y a disposición de nuestros
                participantes</p>
        </div>
        <div class="info-card p-col-12 p-md-4 p-lg-4">
            <img src="assets/img/undraw_growth_analytics_re_pyxf.svg" alt="Imagen evaluadores" />
            <h5>{{ evaluadores }} Docentes Expertos</h5>
            <p>El proyecto trabaja en conjunto con {{ evaluadores }} expertos en el area de psicología para evaluar su
                progreso</p>
        </div>
    </div>
</div>

<!-- <div id="multimedia" class="section" style="padding-bottom: 0;">
    <div class="section-title">
        <h1>Simuladores Laborales</h1>
    </div>

    <div class="p-grid" style="text-align: center; margin-top:25px;">
        <div class="p-col-12 p-md-12 p-lg-5">
            <h4>Entornos de nuestros simuladores laborales</h4>
            <iframe class="video" src="https://www.youtube.com/embed/B_lYGUtCd0g"  frameborder="0"
                allowfullscreen="true"></iframe>
            <span>
                Los simuladores de ejercicios laborales son descripciones de
                casos de éxito o no éxito que permitan un acercamiento al
                contexto laboral con el objetivo de apoyar el proceso de
                capacitación y el reforzamiento de conceptos.
            </span>
        </div>
        <div class="p-col-0 p-md-0 p-lg-2 divider">
            <p-divider layout="vertical"></p-divider>
        </div>
        <div class="p-col-12 p-md-12 p-lg-5">
            <h4>Instrucciones de uso de los simuladores</h4>
            <iframe class="video"
                src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FUPSalesianaEc%2Fvideos%2F550995959453956%2F&show_text=false&width=560&t=0"
                style="border: none; overflow: hidden;" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>

            <span>Se puede navegar sobre el simulador mediante el teclado o
                haciendo uso de Touchpad. Se puede realizar configuraciones de
                accesibilidad sobre las opciones del Escenario Laboral, por
                ejemplo, color, tamaño de fuente, activar o desactivar audios,
                entre otras opciones.</span>
        </div>
    </div>
</div> -->

<div id="features" class="section">
    <div class="section-title">
        <h1>Competencias laborales</h1>
    </div>
    <span style="
      font-size: 12pt;
      text-align: justify;
    ">La competencia es una característica subyacente en una persona, que está
        causalmente relacionada con una actuación exitosa en un puesto de trabajo.
        Las competencias son importantes porque implica atender a rasgos
        psicológicos y comportamientos observables que son consecuencia de un
        conjunto de motivaciones, rasgos de personalidad, actitudes, valores,
        conocimientos, aptitudes, habilidades, y visión de la efectividad laboral
        que se analiza desde un contexto sistémico.
        A continuación, se describe brevemente algunas competencias laborales.
    </span>
    <div class="features-content">
        <div class="features-rows">
            <div class="features-row">
                <div class="features-row-icon">
                    <div class="feature first"></div>
                </div>
                <div class="features-row-content">
                    <h3>Capacidad para trabajar en equipo</h3>
                    <span>Se describe como colaborar y trabajar coordinadamente con los
                        demás, su conducta observable se ve reflejada cuando coordina sus
                        tareas y ofrece ayuda a los demás miembros de su equipo. Reconoce
                        los éxitos y aportes de otras personas.
                    </span>
                </div>
            </div>
            <div class="features-row">
                <div class="features-row-icon">
                    <div class="feature second"></div>
                </div>
                <div class="features-row-content">
                    <h3>Planificación y manejo del tiempo</h3>

                    <span>Se describe como determinar eficazmente metas y especificar las
                        etapas, acciones, plazos y recursos requeridos para el logro de los
                        objetivos. Su conducta observable se ve reflejada cuando trabaja
                        organizadamente, sin improvisaciones de última hora. Planifica las
                        acciones y/o proyectos que va a emprender.
                    </span>
                </div>
            </div>
            <div class="features-row">
                <div class="features-row-icon">
                    <div class="feature third"></div>
                </div>
                <div class="features-row-content">
                    <h3>Capacidad para la toma de decisiones</h3>
                    <span>Se describe como analizar diferentes opciones, considerando las
                        circunstancias existentes, los recursos disponibles y su impacto,
                        para luego seleccionar la alternativa más adecuada. Su conducta
                        observable se ve reflejada cuando ante una situación a resolver,
                        genera opciones viables y convenientes, que consideran las
                        circunstancias existentes.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="effect">
        <img src="assets/layout/images/pages/landing/effect-bottom-1.svg" alt="mirage-layout" />
    </div>
</div>
<div id="pricing" class="section">
    <div class="section-title">
        <h1>Nuestros Colaboradores</h1>
        <p>Instituciones involucradas dentro del proyecto</p>
    </div>
    <app-contributors></app-contributors>
</div>