.features-row:hover{
    box-shadow: none !important;
    
}
.features-row{
    pointer-events: none;
}

.contributors{
    padding: 25px 0;
}

.contenedor{
    width: 60%;
    height: 100%;
    margin-left: 40%;
    background-color: #826a6a;
    
}
.contenedor h1{
    margin-top: 10rem;
    width: 90%;
    margin-left: 4rem;
    overflow-y: hidden;
}
.contenedor p{
    width: 90%;
    margin-left: 4rem;
}
.contenedorVideo{
    margin-left: 68rem;
    margin-top: -32rem;
}

@media (max-width: 1450px) {
    .p-col-1{
        display: none;
    }
    .contenedorVideo{
        margin-left: 45vh;
        margin-top: 12vh;
    }
    .video1{
        margin-left: 48rem;
    }
    

   
}


@media (max-width: 1100px) {  

    .tree{
        visibility: hidden;
    }
    .contenedor{
        width: 100%;
        margin: 0rem;
    }
    .contenedor h1{
        margin-top: 5rem;
        width: 90%;
        margin-left: 4rem;
        overflow-y: hidden;
    }
    .contenedor p{
        width: 90%;
        margin-left: 4rem;
    }

    .p-col-1{
        display: none;
    }
    .contenedorVideo{
        margin-left: 35vh;
        margin-top: 12vh;
    }
    .video1{
        margin-left: 36rem;
    }
}

@media (max-width: 1100px) { 
    .p-col-1{
        display: none;
    }
    .contenedorVideo{
        margin-left: 35vh;
        margin-top: 12vh;
    }
    .video1{
        margin-left: 36rem;
    }
}

@media (max-width: 850px) { 
    .p-col-1{
        display: none;
    }
    .contenedorVideo{
        margin-left: 23vh;
        margin-top: 12vh;
    }
    .video1{
        margin-left: 29rem;
    }
}
@media (max-width: 708px) { 
    .p-col-1{
        display: none;
    }
    .contenedorVideo{
        margin-left: 16vh;
        margin-top: 12vh;
    }
    .video1{
        margin-left: 22rem;
    }
}
@media(max-width: 670px){
    .pricing-card {
        
        min-width: 100%;
        
    }
}

@media (max-width: 550px) {
    .contenedor h1{
        margin-top: 2rem;
        width: 90%;
        margin-left: 1rem;
        
    }
    .contenedor p{
        width: 90%;
        margin-left: 1rem;
    }

    .contenedorVideo{
        margin-left: 9vh;
        margin-top: 12vh;
        
    }
    .video1{
        margin-left: 16rem;
    }
}  
.contenedorVideo{
    margin-bottom: 21rem;
}

.pricing-card {
    position: none;
    max-width: 89%;
    width: 51%;
}