<div *ngIf="object && !loading" #webView class="web-view animate__animated animate__fadeIn">
    <iframe class="frame-object" [title]="'object.titleIframe' | translate" [src]="currentFile.url | urlsanitizer"
        frameborder="0" allowfullscreen></iframe>


    <p-dialog *ngIf="object && displayWindow" [header]="object.general_title" [(visible)]="displayWindow"
        [style]="{width: '50vw'}" [baseZIndex]="10000">

        <app-edit-metadata (clouceEvent)="clouceEvent($event)" (updateEvent)="updateMetadataEvt($event)"
            [object]="object"></app-edit-metadata>

    </p-dialog>

    <form class="animate__animated animate__fadeIn" [formGroup]="objectForm" (ngSubmit)="onSubmit()">

        <div class="p-field p-fluid">
            <label for="title">{{'newObject.form.titleLabel' | translate}}*</label>
            <input [ngClass]="{'ng-dirty': getErrorFormRequired('general_title')}" aria-describedby="title-help"
                pInputText name="general_title" type="text" formControlName="general_title"
                [placeholder]="'newObject.form.title' | translate" id="title" />
            <small *ngIf="getErrorFormRequired('general_title')" id="title-help"
                class="p-error">{{'newObject.errors.title' |
                translate}}</small>
        </div>

        <div class="p-field p-fluid">
            <label for="description">{{'newObject.form.descriptionLabel' | translate}}*</label>
            <textarea rows="10" [ngClass]="{'ng-dirty': getErrorFormRequired('general_description')}" pInputTextarea
                name="general_description" formControlName="general_description" id="description"
                aria-describedby="description-help" [placeholder]="'newObject.form.description' | translate"></textarea>

            <small *ngIf="getErrorFormRequired('general_description')" id="description-help"
                class="p-error">{{'newObject.errors.description' | translate}}</small>
        </div>

        <div class="p-field p-fluid">
            <label for="keywords">{{'newObject.form.keywordsLabel' | translate}}*</label>
            <input [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('general_keyword')}"
                aria-describedby="keywords-help" pInputText type="text" formControlName="general_keyword" id="keywords"
                name="general_keyword" [placeholder]="'newObject.form.keywords' | translate" />

            <small *ngIf="getErrorFormRequired('general_keyword')" id="keywords-help"
                class="p-error">{{'newObject.errors.keywords' | translate}} </small>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box sidebar">
                    <div class="p-field p-fluid">
                        <label for="level">{{'newObject.form.educationLevelLabel' |
                            translate}}*</label>


                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('education_levels')}"
                            id="level" aria-describedby="level-help" formControlName="education_levels"
                            [options]="educationLevels" [placeholder]="'newObject.form.educationLevel' | translate"
                            optionLabel="name" optionValue="code" [showClear]="true"></p-dropdown>


                        <small *ngIf="getErrorFormRequired('education_levels')" id="level-help"
                            class="p-error">{{'newObject.errors.educationLevel' |
                            translate}}</small>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box sidebar">
                    <div class="p-field p-fluid">
                        <label for="language">{{'newObject.form.languageLabel' |
                            translate}}*</label>


                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('general_language')}"
                            id="language" aria-describedby="language-help" formControlName="general_language"
                            [options]="language" [placeholder]="'newObject.form.language' | translate"
                            optionLabel="name" optionValue="code" [showClear]="true"></p-dropdown>

                        <small *ngIf="getErrorFormRequired('general_language')" id="language-help"
                            class="p-error">{{'newObject.errors.language' |
                            translate}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box sidebar">
                    <div class="p-field p-fluid">
                        <label for="knowledgeArea">{{'newObject.form.knowledgeAreaLabel'
                            | translate}}*</label>

                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('knowledge_area')}"
                            id="knowledgeArea" aria-describedby="knowledgeArea-help" formControlName="knowledge_area"
                            [options]="knowledgeArea" [placeholder]="'newObject.form.knowledgeArea' | translate"
                            optionLabel="name" optionValue="code" [showClear]="true"></p-dropdown>
                        <small *ngIf="getErrorFormRequired('knowledge_area')" id="knowledgeArea-help"
                            class="p-error">{{'newObject.errors.knowledgeArea' |
                            translate}}</small>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box sidebar">
                    <div class="p-field p-fluid">
                        <label for="license">{{'newObject.form.licenseLabel' |
                            translate}}*</label>

                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('license')}" id="license"
                            aria-describedby="license-help" formControlName="license" [options]="licenses"
                            [placeholder]="'newObject.form.license' | translate" optionLabel="name" optionValue="code"
                            [showClear]="true"></p-dropdown>
                        <small *ngIf="getErrorFormRequired('license')" id="license-help"
                            class="p-error">{{'newObject.errors.license' |
                            translate}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">

            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box content">
                    <div class="p-field p-fluid slider">
                        <label for="Correo">{{'newObject.form.ageLabel' | translate}}:
                            {{objectForm.controls.educational_typicalAgeRange?.value[0] +' - '+
                            objectForm.controls.educational_typicalAgeRange?.value[1]}}</label>
                        <p-slider [min]="5" [max]="150" formControlName="educational_typicalAgeRange"
                            name="educational_typicalAgeRange" [range]="true">
                        </p-slider>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="box sidebar">
                    <div class="p-field p-fluid">
                        <label for="adaptations">{{'newObject.form.adaptationsLabel' |
                            translate}}*</label>
                        <div class="radio-buttons">
                            <div class="p-field-radiobutton">
                                <p-radioButton [ngClass]="{'ng-dirty': getErrorFormRequired('adaptation')}"
                                    aria-describedby="adaptations-help" name="adaptation" formControlName="adaptation"
                                    inputId="yes" value="yes">
                                </p-radioButton>
                                <label for="yes">{{'newObject.form.adaptationsYes'
                                    | translate}}</label>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton [ngClass]="{'ng-dirty': getErrorFormRequired('adaptation')}"
                                    aria-describedby="adaptations-help" name="adaptation" value="no"
                                    formControlName="adaptation" inputId="no">
                                </p-radioButton>
                                <label for="no">{{'newObject.form.adaptationsNo'
                                    | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6">
                <div class="p-field p-fluid">
                    <label for="fileImage">{{'newObject.form.imgLabel' | translate}}</label>
                    <p-fileUpload id="fileImage" name="fileImage" [chooseLabel]="'newObject.form.imgSelect' | translate"
                        [showUploadButton]="false" [cancelLabel]="'newObject.form.imgCancel' | translate"
                        (onSelect)="onSelectImage($event)"
                        [invalidFileTypeMessageDetail]="'newObject.errors.img' | translate" [multiple]="false"
                        accept="image/*" aria-describedby="img-help">
                    </p-fileUpload>
                    <small *ngIf="getErrorFormRequired('avatar')" id="img-help"
                        class="p-error">{{'newObject.errors.imgHelp' |
                        translate}}</small>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6">
                <p>Imagen actual</p>
                <img *ngIf="currentImg" class="avatar-object" [src]="currentImg" [alt]="object.general_title">
            </div>
        </div>
        <button pButton pRipple (click)=" navigateTo('settings/my-objects')" [style]="{margin: '0 5px'}" type="submit"
            [label]="'newObject.form.imgCancel' | translate" class="p-button-danger"></button>
        <button pButton pRipple [disabled]="loading" type="submit" [label]="'newObject.form.btnSubmit' | translate"
            class="p-button-success"></button>
        <p-button [style]="{margin: '0 5px'}" (click)="showBasicDialog2()" icon="pi pi-external-link"
            [label]="'newObject.form.btnShowMetadata' | translate">
        </p-button>
    </form>
</div>

<div *ngIf="loading" class="spinner">
    <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="4"
        fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    <p *ngIf="editData">Guardando...</p>
</div>

<p-toast></p-toast>