.spinner{
    //background-color: royalblue;
    height: 55vh;
    width: 100%;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}