
<div id="multimedia" class="section">
    <div class="section-title">
      <h1>Simuladores Laborales</h1>
    </div>
    <div style="width: 100%; margin-top: 2em"></div>
  
    <div class="card" style="margin-top: 3em">
      <div class="p-grid" style="text-align: center">
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
          <div class="p-fluid">
            <div class="p-field">
              <div>
                <h4>Entornos de nuestros simuladores laborales</h4>
                <br />
                <iframe src="https://www.youtube.com/embed/B_lYGUtCd0g" style="width: 530px; height: 280px"
                  frameborder="0" allowfullscreen="true"></iframe>
                <br />
                <br />
                <span>
                  Los simuladores de ejercicios laborales son descripciones de
                  casos de éxito o no éxito que permitan un acercamiento al
                  contexto laboral con el objetivo de apoyar el proceso de
                  capacitación y el reforzamiento de conceptos.
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="p-col-1">
          <p-divider layout="vertical"> </p-divider>
        </div>
       
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
          <div class="p-fluid">
            <div class="p-field">
              <div>
                <h4>Instrucciones de uso de los simuladores</h4>
                <br />
                <iframe
                  src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FUPSalesianaEc%2Fvideos%2F550995959453956%2F&show_text=false&width=560&t=0"
                  width="530px" height="280px" style="border: none; overflow: hidden" scrolling="no" frameborder="0"
                  allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                  allowFullScreen="true"></iframe>
                <br />
                <br />
                <span>Se puede navegar sobre el simulador mediante el teclado o
                  haciendo uso de Touchpad. Se puede realizar configuraciones de
                  accesibilidad sobre las opciones del Escenario Laboral, por
                  ejemplo, color, tamaño de fuente, activar o desactivar audios,
                  entre otras opciones.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
   <div id="features" class="section">
        <div class="section-title">
          <h1>
            TÉRMINOS DE USO Y CONDICIONES LEGALES DE LA PLATAFORMA DE SIMULADORES LABORALES
          </h1>
        </div>
        <span style="margin-bottom: 2em; margin-top: 2em; font-size: 20px"
          >Este proyecto ha sido financiado con la ayuda de Erasmus. Los contenidos
          son responsabilidad de su actor y de ningun modo debe considerarse que
          refleja la opinion oficial de Erasmus</span
        >
        <div class="features-content">
          <div class="features-rows">
            <div class="features-row">
              <div class="features-row-icon">
                <div class="feature first"></div>
              </div>
              <div class="features-row-content">
                <h3 style="margin-bottom: 2em;">OBJETIVO DEL PROYECTO</h3>
                <span
                  >La Universidad Politécnica Salesiana de la ciudad de Cuenca con
                  dirección Calle Vieja 12-30 y Elia Liut conjunto con el grupo de
                  investigación de la Cátedra UNESCO EduTech ha desarrollado la
                  plataforma denominada SIMULADORES LABORALES, Como plataforma libre y sin fines
                  comerciales destinada a cualquier usuario y todo miembro de nivel
                  académico. Al acceder a la plataforma y/o hacer uso de esta, el
                  visitante acepta los siguientes términos expresados en este
                  documento.</span
                >
              </div>
            </div>
            <div class="features-row">
              <div class="features-row-icon">
                <div class="feature second"></div>
              </div>
              <div class="features-row-content">
                <h3>Condiciones de uso</h3>
                <br />
                <span
                  >Tanto como el usuario que navega anónimamente como los usuarios
                  registrados en el sitio están sujetos a aceptar las siguientes
                  condiciones de uso del servicio del sitio web:</span
                >
                <ul>
                  <li>
                    La información proporcionada es de uso personal y única del
                    usuario que se registra.
                  </li>
                  <li>
                    La información que se proporciona al registrarse se debe
                    mantener oculta y no compartirla con nadie.
                  </li>
                  <li>
                    Todos los usuarios deben guardar moderación en comentarios del
                    sitio.
                  </li>
                  <li>Mostrar respeto a los demás usuarios del sito.</li>
                </ul>
              </div>
            </div>
            <div class="features-row">
              <div class="features-row-icon">
                <div class="feature third"></div>
              </div>
              <div class="features-row-content">
                <h3>Uso de cookies</h3>
                <span
                  >El uso de las cookies para almacenar información
                  netamente de referencia de un registro, no se almacena información
                  personal o del usuario visitante, todos los valores almacenados
                  están debidamente encriptados.</span
                >
              </div>
            </div>
          </div>
        </div>
  