<div class="main-content profile">
    <div class="profile-user">
        <img [src]="loginService.user.image" [alt]="loginService.user.first_name+' '+loginService.user.last_name">
        <div class="user-name">
            <h5>{{loginService.user.first_name+' '+loginService.user.last_name}}</h5>
            <p>Tu cuenta personal.</p>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-4 p-lg-3 side-menu">
            <div class="box sidebar">
                <app-side-menu></app-side-menu>
            </div>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9 ">
            <div class="box content">
                <router-outlet></router-outlet> 
            </div>
        </div>
    </div>
</div>


