  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <h1>

      <p-button routerLink="/dashboard/lista-rubrica/{{id}}" pbutton="" pripple="" label="Atras"
        icon="pi pi-chevron-circle-left" ng-reflect-label="Save" ng-reflect-icon="pi pi-chevron-circle-left" class="">
      </p-button>
      Rubrica Ejercitario
    </h1>

    <div class="container">
      <div _ngcontent-hwi-c234="" class="control p-grid ng-tns-c234-453">
        <div _ngcontent-hwi-c234="" class="control p-col-6 p-offset-3 ng-tns-c234-453">
          <div class="ng-tns-c121-609 p-panel p-component p-panel-toggleable" ng-reflect-ng-class="[object Object]"
            id="p-panel-6">
            <div class="p-panel-header ng-tns-c121-609 ng-star-inserted" id="p-panel-6-titlebar">
              <span class="p-panel-title ng-tns-c121-609 ng-star-inserted" id="p-panel-6_header">Rubrica
                ejercitario</span>
              <div class="p-panel-icons ng-tns-c121-609">
              </div>
            </div>
            <div role="region" class="p-toggleable-content ng-tns-c121-609 ng-trigger ng-trigger-panelContent"
              id="p-panel-6-content" aria-hidden="false" aria-labelledby="p-panel-6-titlebar">
              <div class="p-panel-content ng-tns-c121-609">

                <div class="address-container" *ngFor="let group of rubricaArray.controls; let i = index;"
                  formArrayName="rubrica">

                  <div class="p-fluid" [formGroupName]='i'>

                    <div class="p-field">
                      <!-- <span type="text" class="p-panel-title ng-tns-c121-609 ng-star-inserted"
                        id="numeroPregunta">Pregunta
                        {{i+1}}</span> -->


                      <div class="p-field">
                        <input id="Rubrica" type="text" pinputtext="" placeholder="Rubrica"
                          formControlName="calificacion" class="p-inputtext p-component">

                        <div class="card">
                          <div class="p-field p-col-12">
                            <div class="p-fluid p-formgrid p-grid">

                              <textarea id="Indicador" type="text" rows="4" pinputtextarea="" placeholder="Indicador"
                                class="p-inputtextarea p-inputtext p-component"
                                formControlName="indicador"></textarea>

                              <p-button *ngIf="i>=0" icon="pi pi-trash" class="btn btn-danger float-end mb-3"
                                label="EliminarRubrica" (click)="removeRubrica(i)" ng-reflect-label="EliminarRubrica"
                                ng-reflect-icon="pi pi-trash"></p-button>
                            </div>


                          </div>
                        </div>
                      </div>




                    </div>

                  </div>


                </div>
                <div class="p-field">
                  <p-button (click)="addRubrica()" pbutton="" pripple="" label="AnadirRubrica"
                    icon="pi pi-plus-circle" ng-reflect-label="AnadirRubrica" ng-reflect-icon="pi pi-plus-circle"
                    class=""></p-button>


                </div>


                <p-button type="submit" pbutton="" pripple="" label="Guardar" icon="pi pi-save"
                  ng-reflect-label="Guardar" ng-reflect-icon="pi pi-save" class=""></p-button>
              </div>




            </div>

          </div>

        </div>

      </div>
    </div>
  </form>