:host ::ng-deep .p-dropdown-panel.p-component.ng-star-inserted {
    right: 0 !important;
    //background-color: red;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}