<div class="menu">
    <p-menubar [model]="tieredItems">
        <ng-template pTemplate="start">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"> <img loading="lazy"
                    src="/assets/img/image2vector.svg" height="60" class="p-mr-2" [alt]="'menu.altLogo' | translate">
            </a>
        </ng-template>
        <ng-template pTemplate="end">

            <ng-container *ngIf="loginService.user; else loginTemplate">
                <div class="layout-topbar">
                    <div class="layout-topbar-wrapper">
                        <div class="layout-topbar-right fadeInDown">
                            <ul class="layout-topbar-actions">
                                <li #profile class="topbar-item profile-item"
                                    [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === profile}">
                                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                                        <span class="profile-image-wrapper">
                                            <img loading="lazy"
                                                [src]="loginService.user.image || 'assets/img/noimage.png'"
                                                [alt]="loginService.user.first_name" />
                                        </span>
                                        <span class="profile-info-wrapper">
                                            <h3 class="name-user">{{loginService.user.first_name+'
                                                '+loginService.user.last_name}}</h3>
                                            <span>{{loginService.user.email}}</span>
                                        </span>
                                    </a>
                                    <ul class="profile-item-submenu fadeInDown">
                                        <li class="profile-submenu-header">
                                            <div class="performance">

                                            </div>
                                            <div class="profile">
                                                <img loading="lazy"
                                                    [src]="loginService.user.image || 'assets/img/noimage.png'"
                                                    [alt]="loginService.user.first_name" width="40" />
                                                <h1 class="name-user">{{loginService.user.first_name+'
                                                    '+loginService.user.last_name}}</h1>
                                                <span>{{loginService.user.email}}</span>
                                            </div>
                                        </li>

                                        <li tabindex="0" (keyup.enter)="navigate('admin')"
                                            *ngIf="loginService.user.administrator; else dashboardTemplate"
                                            class="layout-submenu-item" (click)="navigate('admin')">
                                            <i class="pi pi-sliders-v icon icon-1"></i>
                                            <div class="menu-text">
                                                <p>Dasboard</p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>


                                        <li tabindex="0" (keyup.enter)="navigateStudent()" (click)="navigateStudent()"
                                            *ngIf="loginService.user?.roles.includes('student')"
                                            class="layout-submenu-item">
                                            <i class="pi pi-star-o icon icon-1"></i>
                                            <div class="menu-text">
                                                <p>Recomendados para ti</p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>

                                        <li tabindex="0" (keyup.enter)="navigate('settings/my-views')"
                                            (click)="navigate('settings/my-views')"
                                            *ngIf="loginService.user?.roles.includes('student')"
                                            class="layout-submenu-item">
                                            <i class="pi pi-eye icon icon-2"></i>
                                            <div class="menu-text">
                                                <p>Vistos por mi </p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>

                                        <li tabindex="0" (keyup.enter)="navigateExpert('search')"
                                            (click)="navigateExpert('search')"
                                            *ngIf="loginService.user?.roles.includes('expert')"
                                            class="layout-submenu-item">
                                            <i class="pi pi-pencil icon icon-2"></i>
                                            <div class="menu-text">
                                                <p>Calificar OA</p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>

                                        <li tabindex="0" (keyup.enter)="navigate('settings/new-object')"
                                            (click)="navigate('settings/new-object')"
                                            *ngIf="loginService.user?.roles.includes('teacher')"
                                            class="layout-submenu-item">
                                            <i class="pi pi-upload icon icon-3"></i>
                                            <div class="menu-text">
                                                <p>Cargar OA</p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>

                                        <li tabindex="0" (keyup.enter)="navigate('settings')"
                                            (click)="navigate('settings')" class="layout-submenu-item">
                                            <i class="pi pi-cog icon icon-4"></i>
                                            <div class="menu-text">
                                                <p>Mi Cuenta</p>
                                            </div>
                                            <i class="pi pi-angle-right"></i>
                                        </li>

                                        <li class="layout-submenu-footer">
                                            <button (click)="logOut()" class="signout-button">Salir</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #loginTemplate>
                <div class="items-login p-grid">
                    <div class="p-col-12 p-lg-6">
                        <div class="box animate__animated animate__fadeIn">
                            <a pButton pRipple type="button" [label]="'menu.login' | translate" class="p-button-text"
                                [routerLink]="[ '/login' ]" routerLinkActive="p-menuitem-link-active"></a>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-6">
                        <div class="box animate__animated animate__fadeIn">
                            <a pButton pRipple type="button" [label]="'menu.register' | translate" class="p-button-text"
                                [routerLink]="[ '/register' ]" routerLinkActive="p-menuitem-link-active"></a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </p-menubar>
</div>