

:host ::ng-deep .p-menubar.p-component {
  padding: 5px 0;
  //background-color: #FFF !important;
  background-color: #fff;
}

:host ::ng-deep .p-menuitem-link-active {
  .p-menuitem-text {
    //color: #006CE1; //Declarar en variable
    //background-color: red;
    color: var(--primary-color);
  }
}

:host ::ng-deep .profile-image-wrapper {
  img {
    border-radius: 50%;
  }
}

:host ::ng-deep .profile {
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.items-login {
  width: 250px;
  //background-color: red;
  .box {
    text-align: right;
  }
}

.layout-topbar {
  //display: block;
  position: relative;
  width: 100%;
  box-shadow: none;
}

.name-user {
  text-transform: capitalize;
}

:host ::ng-deep .p-menuitem-link-active{
  background-color: var(--primary-color);
  color: #fff;
  span{
    color: #FFF !important;
    //color: #fff;
  }
  &:hover{
    background-color: var(--primary-color) !important;
  }
}

