
    <div class="p-col-12 widget-news">
        <div class="news-row" [ngStyle]="{ transform:
              activeNews === 1 ? 'translate3d(0px, 0px, 0px)': 
              activeNews === 2 ? 'translate3d(-100%, 0px, 0px)' : 'translate3d(-200%, 0px, 0px)' }" style="transform: translate3d(-200%, 0px, 0px);height: 500px;" >
          <div class="card news news-1 active-news">
            <div class="news-title">
              <h5></h5>
            </div>
            <h6></h6>
            <p>
            </p>
            <div class="p-grid link">
              <div class="p-col-9">
                <a href="">Learn more<i class="pi pi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="card news news-2">
            <div class="news-title">
              <h5></h5>
            </div>
            <h6>           </h6>
            <p>
            </p>
            <div class="p-grid link">
              <div class="p-col-9">
                <a href="">Learn more<i class="pi pi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="card news news-3">
            <div class="news-title">
              <h5></h5>
            </div>
            <h6>
            </h6>
            <p>
            </p>
            <div class="p-grid link">
              <div class="p-col-9">
                <a href="">Learn more<i class="pi pi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          
        </div>

        <div class="link-points">
          <div class="p-grid points">
            <div
              class="p-col-4 point point-1"
              [ngClass]="{ 'active-point': activeNews === 1 }"
              (click)="activeNews = 1"
            ></div>
            <div
              class="p-col-4 point point-2"
              [ngClass]="{ 'active-point': activeNews === 2 }"
              (click)="activeNews = 2"
            ></div>
            <div
              class="p-col-4 point point-3"
              [ngClass]="{ 'active-point': activeNews === 3 }"
              (click)="activeNews = 3"
            ></div>
          </div>
        </div>
</div>



<div class="p-col-12">
  <div class="card">
      <h5>UNITY ESCENARIOS</h5>
      <div class="p-grid">
          <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <div class="p-fluid">
                <p-galleria [value]="images" [responsiveOptions]="galleriaResponsiveOptions"
                  [containerStyle]="{'max-width': '500px'}" [numVisible]="7" [circular]="true">
                  <ng-template pTemplate="item" let-item>
                      <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                  </ng-template>

                  <ng-template pTemplate="thumbnail" let-item>
                      <div class="p-grid p-nogutter p-justify-center">
                          <img [src]="item.thumbnailImageSrc" style=" width: 100px; height: 50px; display: block;"/>
                      </div>
                  </ng-template>
               </p-galleria>

              </div>
          </div>


          <div class="p-col-1">
              <p-divider layout="vertical">
                  <b>O</b>
              </p-divider>
          </div>


          <div class="p-col-5 p-ai-center p-jc-center">
              

            <div class="card">
              <h2 style="color: #71d5ea; font-weight: bold;" >Ejercitarios </h2>
              <p-tabView orientation="left">
                    <p-tabPanel header=" Ejercitario 1" leftIcon="pi pi-image"  >
                        <div class="card">
                          <p>
                              <b>Tipo:</b> Diálogo <br>
                              <b>Nombre:</b> La venta <br>
                              <b>Instrucción principal: </b> Se le pide al participante que visite a un cliente y lo convenza 
                                  de asistir a una feria.<br>
                              <b> Principales Competencias medidas:</b> Comunicación efectiva 
                                 
                              <b> Categoría del ejercicio: </b> Interacciones uno a uno<br>
                              <b> Duración:</b> Usualmente corta, no más de 10 minutos <br>
                              <b> Variaciones: </b> Presentaciones con uso de material audiovisual 
        
                          </p>

                          <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                          
                        </div>
        
                    </p-tabPanel>
        
                    <p-tabPanel header=" Ejercitario 2" leftIcon="pi pi-image" >

                      
                      <p>
                        <b>Tipo:</b> Diálogo <br>
                         <b>Nombre:</b> Empleado problema  <br>
                         <b>Instrucción principal: </b> El participante es un jefe nuevo y nota a las tres semanas que 
                         uno de sus colaboradores siempre llega con 45 ó 50 minutos 
                         de retraso. Decide hablar con el empleado para lograr algún 
                         acuerdo.<br>
                         <b> Principales Competencias medidas:</b> Habilidades interpersonales 
                        <b> Duración:</b> 10 a 15 minutos. <br> 

                     </p> 
                        
                     <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                    </p-tabPanel>
        
                    <p-tabPanel header="Ejercitario 3" leftIcon="pi pi-image" >
                      <p>
                        <b>Tipo:</b> Selección <br>
                        <b>Nombre:</b> Mi agenda  <br>
                        <b>Instrucción principal: </b> El participante debe priorizar y tomar decisiones sobre el 
                        orden de las actividades descritas y organizar agenda personal 
                        y de trabajo.<br>
                        <b> Principales Competencias medidas:</b> Capacidad de priorización 
                        <b> Duración:</b> 5 minutos <br>
                        </p>
                        <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                    </p-tabPanel>
        
                    <p-tabPanel header="Ejercitario 4" leftIcon="pi pi-image" >
                      <p>
                        <b>Tipo:</b> Selección <br>
                        <b>Nombre:</b> Funciones y competencias <br>
                        <b>Instrucción principal: </b> El participante debe leer las actividades descritas y 
                        seleccionar que competencias corresponde a cada actividad.
                        Principales
                        <b> Principales Competencias medidas:</b> Capacidad para la toma de decisiones
                        <b> Duración:</b> 5 minutos <br>
                        <b> Variaciones: </b> Presentaciones con uso de material audiovisual 
                     </p>

                     <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                    </p-tabPanel>
                  
        
                    <p-tabPanel header=" Ejercitario 5" leftIcon="pi pi-image" >

                      <p>
                        <b>Tipo:</b> Seleeción <br>
                        <b>Nombre:</b>El tiempo <br>
                        <b>Instrucción principal: </b> Planificación y manejo del tiempo
                        <b> Principales Competencias medidas:</b> Comunicación efectiva 
                        <b> Variaciones: </b> Presentaciones con uso de material audiovisual
                    </p>

                    <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                    </p-tabPanel>

                    

 
        
                    <p-tabPanel header="Ejercitario 6" leftIcon="pi pi-image" >
                        <p>
                          <b>Tipo:</b> Selección <br>
                          <b>Nombre:</b>Un día de trabajo <br>
                          <b> Principales Competencias medidas:</b>Planificación y manejo del tiempo <br>Capacidad de toma de decisiones
                          <b> Categoría del ejercicio :</b> Interacciones uno a uno  <br>
                      </p>
                      <button  pButton pRipple type="button" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>

                    </p-tabPanel> 
        
              </p-tabView>
            </div>


              <p-divider layout="horizontal" align="center">
                  <span class="p-tag">Descripción</span>
              </p-divider>

              

          </div>
      </div>
  </div>
</div>





<div class="p-grid list-demo">
	<div class="p-col-12">
		<div class="card">
			<h5>DataView</h5>
			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
						[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
						<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
						<span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>
				<ng-template let-product pTemplate="listItem">
					<div class="p-col-12">
						<div class="product-list-item">
							<img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name"/>
							<div class="product-list-detail">
								<div class="product-name">{{product.name}}</div>
								<div class="product-description">{{product.description}}</div>
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
								<i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
							</div>
							<div class="product-list-action">
								<span class="product-price">${{product.price}}</span>
								<p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
								<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template let-product pTemplate="gridItem">
					<div class="p-col-12 p-md-4">
						<div class="product-grid-item card">
							<div class="product-grid-item-top">
								<div>
									<i class="pi pi-tag product-category-icon"></i>
									<span class="product-category">{{product.category}}</span>
								</div>
								<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
							</div>
							<div class="product-grid-item-content">
								<img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name"/>
								<div class="product-name">{{product.name}}</div>
								<div class="product-description">{{product.description}}</div>
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
							</div>
							<div class="product-grid-item-bottom">
								<span class="product-price">${{product.price}}</span>
								<p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>




  

<div style="margin-bottom: 2%;">
  <h4>Modo de Evaluación</h4>
  <p-timeline   style="margin-bottom: -15%;"     [value]="customEvents" align="alternate" styleClass="customized-timeline" >
      <ng-template pTemplate="marker" let-event >
      <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color"   >
          <i [ngClass]="event.icon"></i>
      </span>
      </ng-template>
      <ng-template  pTemplate="content" let-event  >
          <p-card [header]="event.status" [subheader]="event.data"   >
              <img *ngIf="event.image" [src]="'assets/demo/images/product/' + event.image" [alt]="event.name" width="200" class="p-shadow-2" />
              <br>
              <p-card [textContent]= "event.content" ></p-card>
              <br>
              <button pButton label="Read more" class="p-button-text"></button>
          </p-card>
      </ng-template> 
  </p-timeline>
</div>

  
  <div class="p-col-12" style="width: 100%;" >
    <div class="card"  >
        <h5>Listado de Participantes</h5>
        <div class="p-grid table-demo"  >
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center" style="width: 60%;">
                <div class="p-fluid">
                        <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
                            styleClass="p-datatable-customers" [rowHover]="true" [rows]="5" [paginator]="true"
                            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
                          <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                              Customers
                              <span class="p-input-icon-left">
                                      <i class="pi pi-search"></i>
                                      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search"/>
                                  </span>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                              </th>
                              <th pSortableColumn="name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Nombre
                                  <p-sortIcon field="name"></p-sortIcon>
                                  <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                                </div>
                              </th>
                              <th pSortableColumn="country.name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Ubicación
                                  <p-sortIcon field="country.name"></p-sortIcon>
                                  <p-columnFilter type="text" field="country.name" display="menu" class="p-ml-auto"></p-columnFilter>
                                </div>
                              </th>
                              <th pSortableColumn="representative.name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Experto 
                                  <p-sortIcon field="representative.name"></p-sortIcon>
                                  <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                      <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Agent Picker</span>
                                      </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                      <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                        <ng-template let-option pTemplate="item">
                                          <div class="p-multiselect-representative-option">
                                            <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                            <span class="p-ml-1">{{option.name}}</span>
                                          </div>
                                        </ng-template>
                                      </p-multiSelect>
                                    </ng-template>
                                  </p-columnFilter>
                                </div>
                              </th>
                            
                              
                              <th pSortableColumn="status">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Estado
                                  <p-sortIcon field="status"></p-sortIcon>
                                  <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                      <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                                        <ng-template let-option pTemplate="item">
                                          <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                      </p-dropdown>
                                    </ng-template>
                                  </p-columnFilter>
                                </div>
                              </th>
                              <th pSortableColumn="activity">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                  Avance General
                                  <p-sortIcon field="activity"></p-sortIcon>
                                  <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                      <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="p-m-3"></p-slider>
                                      <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                                        <span>{{activityValues[0]}}</span>
                                        <span>{{activityValues[1]}}</span>
                                      </div>
                                    </ng-template>
                                  </p-columnFilter>
                                </div>
                              </th>
                              <th style="width: 8rem"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-customer>
                            <tr class="p-selectable-row">
                              <td>
                                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                              </td>
                              <td>
                                <span class="p-column-title"></span>
                                {{customer.name}}
                              </td>
                              <td>
                                <span class="p-column-title"></span>
                                <img src="assets/demo/flags/flag_placeholder.png"
                                  [class]="'flag flag-' + customer.country.code" width="30">
                                <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.country.name}}</span>
                              </td>
                              <td>
                                <span class="p-column-title"></span>
                                <img [alt]="customer.representative.name"
                                  src="assets/demo/images/avatar/{{customer.representative.image}}" width="32"
                                  style="vertical-align: middle"/>
                                <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.representative.name}}</span>
                              </td>
                              
                            
                              <td>
                                <span class="p-column-title"></span>
                                <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                              </td>
                              <td>
                                <span class="p-column-title">Avance</span>
                                <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
                              </td>

                              <td style="text-align: center">
                                <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="8">No customers found.</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      
            </div>
            </div>

            <div class="p-col-1">
                <p-divider layout="vertical">
                    <b></b>
                </p-divider>
            </div>


            <div class="p-col-5 p-ai-center p-jc-center" style="width: 30%;">
                
              
                <h5 class="centerText">Avance por Escenario</h5>
                <p-chart type="pie" [data]="pieData"></p-chart>
            
                <p-divider layout="horizontal" align="center">
                  <span class="p-tag">General</span>
              </p-divider>
            
                <h5 class="centerText">Participantes por Escenario</h5>
                <p-chart type="polarArea" [data]="polarData"></p-chart>
            

                

                
            </div>
        
    </div>
  </div>
</div>



<div class="p-col-12">
  <div class="card">
      <h5>Resultados Generales</h5>
      <div class="p-grid">
          <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <div class="p-fluid">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis explicabo labore ratione eveniet laudantium, maxime, ducimus debitis minima dolorum molestias illum dolorem repudiandae provident ad distinctio, corrupti deleniti porro sequi?</p>
                <p-divider layout="horizontal" align="center">
                  <span class="p-tag">Gráfica</span>
              </p-divider>

              <h5 class="centerText">Linear Chart</h5>
            <p-chart type="line" [data]="lineData"></p-chart>
                </div>
                 
          </div>
          <div class="p-col-1">
              <p-divider layout="vertical">
                  <b></b>
              </p-divider>
          </div>
          <div class="p-col-5 p-ai-center p-jc-center">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                  architecto beatae vitae dicta sunt explicabo.</p>

              <p-divider layout="horizontal" align="center">
                  <span class="p-tag">Gráfica</span>
              </p-divider>

              <h5 class="centerText">Bar Chart</h5>
              <p-chart type="bar" [data]="barData"></p-chart>
         </div>
  </div>
</div>
</div>



<div class="footer" style="background-color: rgba(95, 158, 160, 0.623);">
  <div class="logo-text">
      <p> <img src="../../../../assets/layout/images/logo-mirage@2x.png" alt="logo" style="width: 30px;" />
        Simuladores Laborales
      </p>
      <span>Proyecto Erasmus</span>
      <br>
  </div>
</div>

