
<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-1">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Expertos</h5>
                <span>Expertos registrados</span>
            </div>
            <div class="p-col-3 overview-box-status">
               10
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-2">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Usuarios</h5>
                <span>Usuarios Registros</span>
            </div>
            <div class="p-col-3 overview-box-status">
                10
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-3">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Simuladores</h5>
                <span>Simuladores en el sistema</span>
            </div>
            <div class="p-col-3 overview-box-status">
                10
            </div>
        </div>
    </div>
</div>

<div class="p-grid p-fluid">
    <div class="p-col-12 p-lg-6">
        <div class="card">
            <h5 class="centerText">Linear Chart</h5>
            <p-chart type="line" [data]="lineData"></p-chart>
        </div>
    </div>
    <div class="p-col-12 p-lg-6">
        <div class="card">
            <h5 class="centerText">Pie Chart</h5>
            <p-chart type="pie" [data]="pieData"></p-chart>
        </div>
    </div>
</div>

<div class="p-grid table-demo">
	<div class="p-col-12">
		<div class="card">
				<app-lista-experto-por-aprobar></app-lista-experto-por-aprobar>
		</div>
	</div>
</div>


