<!-- <div class="layout-wrapper">
    <app-menu-lateral ></app-menu-lateral>
    
    <div class="layout-main">
        <app-menu-top-bar></app-menu-top-bar>
        
        <div class="layout-content">
            
            <router-outlet></router-outlet>

        </div>
        <app-footer></app-footer>
        
        <div class="layout-main-mask"></div>
    </div>   
</div> -->

<div class="layout-wrapper" (click)="app.onLayoutClick()" [ngClass]="{'layout-horizontal': app.horizontalMenu,
                'layout-wrapper-static': app.staticMenuActive,
                'layout-rightpanel-active': app.rightPanelActive,
                'layout-topbar-mobile-active': app.topbarMobileMenuActive,
                'layout-megamenu-mobile-active': app.megaMenuMobileActive,
                'layout-sidebar-mobile-active': app.menuMobileActive,
                'p-input-filled': app.inputStyle === 'filled',
                'p-ripple-disabled': !app.ripple}" [class]="app.menuColor">

    <app-private-menu [menu]="menu"></app-private-menu>

    <div class="layout-main">
        <app-top-bar></app-top-bar>

        <!-- <app-rightpanel></app-rightpanel>

        <app-breadcrumb></app-breadcrumb> -->

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

        <!-- <app-config></app-config> -->

        <div class="layout-main-mask"></div>
    </div>
</div>