<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-lg-12">
        <div class="card orders-table" style="min-height: 33vh">
            <p-tabView>
                <p-tabPanel header="Pendientes">
                    <app-lista-pendientes></app-lista-pendientes>
                </p-tabPanel>
                <p-tabPanel header="Descartados">
                    <app-lista-rechazados></app-lista-rechazados>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <div class="p-col-12 p-lg-12">
        <div class="card orders-table" style="min-height: 33vh">
            <app-lista-participantes></app-lista-participantes>
        </div>
    </div>
</div>