<div class="exception-body notfound">
    <div class="exception-content">
        <div class="moon">
            <img loading="lazy" src="../../assets/layout/images/pages/asset-moon.svg" alt="mirage-layout" />
        </div>
        <div class="exception-panel">
            <div class="exception-panel-content">
                <span class="tag">404</span>
                <h1>Página no encontrado</h1>
                <div class="seperator"></div>
                <p>El recurso solicitado no está disponible en este momento. Por favor, inténtelo de nuevo más tarde.</p>
                <button pButton type="button" [routerLink]="['/']" label="Regresar a la pagina principal"></button>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
