
<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-4">
            <div class="p-col-3 overview-box-icon">
                <img loading="lazy" loading="lazy" src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Objetos de aprendizaje por aprobar</h5>
                <p-button label="Ver más..." styleClass="p-button-link p-mr-2"></p-button>
            </div>
                <div class="badges">
                    <p-badge [value]="300" size="xlarge" severity="info" styleClass="p-mr-2"></p-badge>
                </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-4">
            <div class="p-col-3 overview-box-icon">
                <img loading="lazy" src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Objetos de Aprendizaje aprobados </h5>
                <p-button label="Ver más..." styleClass="p-button-link p-mr-2"></p-button>
            </div>
            <div class="badges">
                <p-badge [value]="100" size="xlarge" severity="info" styleClass="p-mr-2"></p-badge>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-4">
            <div class="p-col-3 overview-box-icon">
                <img loading="lazy" src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Docente/Exp. Colaborador por aprobar</h5>
                    <p-button label="Ver más..." styleClass="p-button-link"></p-button>
            </div>
            <div class="badges">
                <p-badge [value]="160" size="xlarge" severity="info" styleClass="p-mr-2"></p-badge>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-4">
            <div class="p-col-3 overview-box-icon">
                <img loading="lazy" src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Docente/Exp. Colaborador aprobados</h5>
                <p-button label="Ver más..." styleClass="p-button-link p-mr-0"></p-button>
            </div>
            <div class="badges">
                <p-badge [value]="345" size="xlarge" severity="info" styleClass="p-mr-2"></p-badge>
            </div>
        </div>
    </div>
</div>
