
<div class="card">
    <p-button label="Informe General" icon="pi pi-bookmark" class="p-mr-2 p-mb-2"></p-button>
    <p-button label="Informe Avanzado" icon="pi pi-bookmark" iconPos="right" class="p-mr-2 p-mb-2"></p-button>
</div>

 <!-- ESTO ES PARA LAAS GRAFICAS -->

<div class="card">
    <div class="p-grid p-fluid">
            <div class="p-col-12 p-lg-6">

                <div class="card">
                                <h5 class="centerText">Datos generales</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus ratione, alias in cum cupiditate culpa quibusdam illum dolorum nesciunt facere vitae eligendi nisi libero excepturi labore corrupti! Illum, nobis.
                                </p>
                </div>

                

                <div class="p-col-12">
                    <div class="card">
                        <div class="card">
                            <div>
                                <label style="font-size: 15px;" for="state">Tipos de Discapacidad vs </label>
                                <p-dropdown inputId="state" [options]="states2" [(ngModel)]="selectedState2" placeholder="Seleccione" optionLabel="name" (ngModelChange)="graficaSimplePuntos()"></p-dropdown>
                            </div>
        
                            <div class="card">
                                <h5 class="centerText" class="p-col-12" style="text-align: center;">Tipo de Discapacidad VS {{selectedState2.name}} Globales</h5>
                                <p-chart type="line" [options]="options" [data]="lineData"></p-chart>
                            </div>
        
                        </div>
                        
                        
                    </div>
                    
                   
                </div>
            
            </div>
            
            <div class="p-col-12 p-lg-6">

                <div class="card">
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-lg-6"> 
                            <h5 class="centerText">Datos generales</h5>
                            <p>Lorem ipsum dolor sit 0000000000000000000000000amet consectetur adipisicing elit. Id voluptatibus ratione, alias in cum cupiditate culpa quibusdam illum dolorum nesciunt facere vitae eligendi nisi libero excepturi labore corrupti! Illum, nobis.</p>
                        </div>  

                        <div class="p-col-12 p-lg-6">
                            <p-chart type="doughnut" [data]="pieData"></p-chart>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <label style="font-size: 15px;" for="state">Tipos de Discapacidad vs </label>
                        <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Seleccione" optionLabel="name" (ngModelChange)="seleccionTipoGrafico()"></p-dropdown>
                    </div>

                    <div class="card">
                        <h5 class="centerText" class="p-col-12" style="text-align: center;">Tipo de Discapacidad VS {{selectedState.name}} Globales</h5>
                        <p-chart type="bar" [options]="options" [data]="barData"></p-chart>
                    </div>

                </div>

                
               
            </div>
    </div>
</div>


 <!-- ESTO ES PARA LAAS TABLA DE LISTAR ESTUDIANTE -->

 <div class="card">
    <h5>Lista de Participantes</h5>
    <p>Participantes que lo tienen asignado como responsable. </p>
    <p-table #dt1 [value]="listParticipantesEvaluadorEjercitario" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Mostrar desde {first} hasta {last} de {totalRecords} Registros"
        [globalFilterFields]="['nombre', 'direccion', 'progreso']">
        

        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                </span>
            </div>

        </ng-template>

        <ng-template pTemplate="header">
            <tr>
        
                <th pSortableColumn="nombre">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nombre
                        <p-columnFilter type="text" field="nombre" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="direccion" >
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Localización
                        <p-columnFilter type="text" field="direccion" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="genero">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Genero
                        <p-columnFilter type="text" field="genero" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="fechaNacimiento">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nacimiento
                        <p-columnFilter type="date" field="fechaNacimiento" display="menu"></p-columnFilter>
                    </div>
                </th>
                
                <th th pSortableColumn="tiempo">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tiempo Global
                        <p-columnFilter  type="text" field="tiempo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="calificacion" >
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Calificación Global
                        <p-columnFilter field="calificacion" matchMode="between" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Seleccionar
                   </div>
                </th>


                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listParticipantesEvaluadorEjercitario>
            <tr>
                <td>
                    {{listParticipantesEvaluadorEjercitario.nombre}}
                </td>
                <td>
                    {{ listParticipantesEvaluadorEjercitario.pais }} - {{ listParticipantesEvaluadorEjercitario.ciudad }} - {{ listParticipantesEvaluadorEjercitario.direccion }}
                </td>
                <td>
                    <span class="image-text">{{listParticipantesEvaluadorEjercitario.genero}}</span>
                </td>
                <td>
                    {{listParticipantesEvaluadorEjercitario.fechaNacimiento | date: 'yyyy/MM/dd'}}
                </td>
                
                <td>
                    <span>{{listParticipantesEvaluadorEjercitario.tiempo}} minutos</span>
                </td>
                <td>
                    <p-progressBar [value]="listParticipantesEvaluadorEjercitario.calificacion" [showValue]="true"> </p-progressBar>
                </td>

                <td style="text-align: center">
                    <a  [routerLink]="['/Pagina-Principal-Experto/participanteInfo', correoResponsableDatos, ejercitario, listParticipantesEvaluadorEjercitario.email]" routerLinkActive="active">
                        <i class="layout-menuitem-icon"></i>
                        <i class="pi pi-user-edit"></i>
                        Ver Rendimiento
                    </a>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

   
