.terms-content{
    background-color: #FFF;
    padding: 100px 50px;
    min-height: 79vh;
    h2{
        text-transform: uppercase;
    }
    .term{
        p{
            text-align: justify;
        }
    }
}