<body class="landing-body">
    <div class="landing-nav-menu">
        <div class="logo">
            <a href="#">
                <img src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg" style="width: 5em;" alt="logo"/>
                <span class="app-name">Simuladores Laborales</span>
            </a>
        </div>
        
        <div class="nav-menu-wrapper">
           
            <ul class="nav-menu" id="landing-menu">
                <li class="active-link">
                    <a href="#home">Inicio</a>
                </li>
                <li>
                    <a href="#meet-mirage">Información</a>
                </li>
                <li>
                    <a href="#features">Simuladores</a>
                </li>
                <li>
                    <a href="#pricing">Acerca de</a>
                </li>
                <li>
                    <a href="#multimedia">Colaboradores</a>
                </li>
            </ul>
        </div>
        
        <div class="buy-button">
            <button type="button" class="p-button" routerLink= "/login">
                Iniciar Sesión
            </button>
            <br>
            <button type="button" class="p-button" routerLink= "/registrar">
                Registrar
            </button>
        </div>
    
        <div class="menu-button">
            <a href="#" class="landing-menu-button" id="landing-menu-button">
                <div class="landing-menu-button-icon"></div>
            </a>
        </div>
    </div>
    
    
    <div class="p-col-12" style="width: 95%; align-items: center; justify-content: space-between;">
        <div class="card">
            <h3 style="width: 100%; align-items: center; text-align: center;">Ingrese su Información Personal</h3>
            <div class="p-grid">
                
                <div class="p-col-3 p-d-flex p-ai-center p-jc-center">
                    <div class="p-fluid">
                        <div  class="p-field">
                            <div>
                                <div style="text-align: center; line-height: 2.5em;">
                                    <!--
                                        Codigo para mostrar fotografia del usuario
                                        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name"/>
                                    -->
                                    <h3>Regístrate gratis ahora mismo!</h3>
                                    <img src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg" style="width: 100px;" alt="logo"/>
                                    <div class="product-list-detail">
                                        <h4> Descripción <!--{{product.name}}--></h4>
                                        <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit distinctio reprehenderit quis sed. Similique recusandae iusto earum explicabo reiciendis maiores corrupti amet quidem provident, mollitia, a sint adipisci enim itaque.</span>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <!--Linea de division de componentes-->
                <div class="p-col-1">
                    <p-divider layout="vertical">
                    </p-divider>
                </div>
    
                
                <div class="p-col-7 p-ai-center p-jc-center">
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h6>Nombres:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="Nombre"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Email:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-envelope"></i>
                                        <input type="text" pInputText placeholder="Correo Electronico"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Ciudad:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <p-multiSelect [options]="groupedCities" [group]="true" [(ngModel)]="selectedCities4" defaultLabel="Selecciona una Ciudad" scrollHeight="250px" display="chip">
                                            <ng-template let-group pTemplate="group">
                                                <div class="p-d-flex p-ai-center">
                                                    <img src="assets/demo/flags/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value" style="width: 20px" />
                                                    <span>{{group.label}}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </span>
                                </div>
    
                                <h6>Carrera Universitaria:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Carrera universitaria que desempeña"/>
                                </div>
    
                                <h6>Estado Civil:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-info-circle"></i>
                                        <p-dropdown inputId="state" [options]="estadosCiviles" [(ngModel)]="seleccionEstadoCivil" placeholder="Seleccionar estado civil" optionLabel="name"></p-dropdown>
                                    </span>
                                    
                                </div>
    
                                <h6>Etnia:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Ingrese su etnia"/>
                                </div>
    
                                <h6>Estudios Previos:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Ingrese sus estudios"/>   
                                </div>
    
                                <h6>Nivel de Formación:</h6>
                                <div class="p-grid p-formgrid">
                                   <input type="text" pInputText placeholder="Ingrese su nivel de formación"/>
                                </div>
                                
                                <h6>Ingrese una contraseña:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-lock"></i>
                                        <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            placeholder="Ingrese su contraseña"
                                            pPassword
                                            required
                                            ngModel
                                            [feedback]="false"
                                        />
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h6>Apellidos:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" pInputText placeholder="Apellido"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Teléfono:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-phone"></i>
                                        <input type="text" pInputText placeholder="Número de teléfono"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Fecha de Nacimiento:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <p-calendar [showIcon]="true" inputId="icon" placeholder="07/20/1998"></p-calendar>
                                    </span>
                                    
                                </div>
    
                                <h6>Grado de Discapacidad:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <p-inputNumber mode="decimal" prefix="% " [showButtons]="true" [min]="0" [max]="100"></p-inputNumber>
                                    </span>    
                                </div>
    
                                <h6>Número de Hijos:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="30"></p-inputNumber>
                                    </span>
                                    
                                </div>
    
                               
    
                                <h6>Seleccionar</h6>
                                <div class="p-grid p-formgrid" style="text-align: center;">
                                    <div class="p-col-5 p-md-3">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="genero" value="Masculino" [(ngModel)]="variableGeneroRadio" id="city1"></p-radioButton>
                                            <label for="city1">Masculino</label>
                                        </div>
                                    </div>
                                    <div class="p-col-5 p-md-3">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="genero" value="Femenino" [(ngModel)]="variableGeneroRadio" id="city2"></p-radioButton>
                                            <label for="city2">Femenino</label>
                                        </div>
                                    </div>
                                    <div class="p-col-5 p-md-3">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="genero" value="LGBT" [(ngModel)]="variableGeneroRadio" id="city3"></p-radioButton>
                                            <label for="city3">LGBT</label>
                                        </div>
                                    </div>
                                    <div class="p-col-5 p-md-3">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="genero" value="Otro" [(ngModel)]="variableGeneroRadio" id="city4"></p-radioButton>
                                            <label for="city4">Otro</label>
                                        </div>
                                    </div>
                                </div>
    
                                <h6>Responsable/Tutor:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-user"></i>
                                        <input type="text" disabled pInputText value="Angel Perez"/>
                                    </span>
                                    
                                </div>
    
                                <h6>Código de Estudiante:</h6>
                                <div class="p-grid p-formgrid">
                                    <input type="text" pInputText placeholder="Ingrese código Estudiante"/>
                                </div>
    
                                <h6>Repita la contraseña:</h6>
                                <div class="p-grid p-formgrid">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-lock"></i>
                                        <input
                                            type="password"
                                            id="passwordVerificacion"
                                            name="passwordVerificacion"
                                            placeholder="Ingrese su contraseña"
                                            pPassword
                                            required
                                            ngModel
                                            [feedback]="false"
                                        />
                                    </span>
                                </div>
    
                                
                            </div>
                            
                            
    
                        </div>
                        <div class="p-col-12 p-md-12">
                            <div class="card">
                                <h6>Experiencia Laboral</h6>
                                <div class="p-grid p-formgrid">
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-user"></i>
                                            <input type="text" pInputText placeholder="Área Laboral"/>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-right">
                                            <input type="text" pInputText placeholder="Años de experiencia"/>
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                                        <span class="p-input-icon-left p-input-icon-right">
                                            <i class="pi pi-user"></i>
                                            <input type="text" pInputText placeholder="Sector Económico"/>
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                       
                    </div>
    
                    
                    <p-divider layout="horizontal" align="center">
                        <div class="buttons">
                            <button
                              pButton
                              type="submit"
                              label="Registrarme"
                              style="margin-right: 2em;"
                            ></button>
                        </div> 
                    </p-divider>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
