<div class="layout-sidebar" style="background-color: #ffffffeb;" [ngClass]="{'layout-sidebar-active': appMainUser.sidebarActive}" (click)="appMainUser.onSidebarClick($event)"
     (mouseover)="appMainUser.sidebarActive=true" (mouseleave)="appMainUser.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="appMainUser.onToggleMenuClick($event)">
            <i class="pi pi-lock" *ngIf="appMainUser.staticMenuActive"></i>
            <i class="pi pi-lock-open" *ngIf="!appMainUser.staticMenuActive"></i>
        </a>
        <a routerLink="/Pagina-Principal-Usuario">
            <img alt="logo" src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg" />
            <span class="app-name">Bienvenido</span>
        </a>
    </div>
    <!-- Codigo Para Manu Lateral -->
    <div class="layout-menu-container"  (click)="onMenuClick()">
        <ul class="layout-menu">
            <li *ngFor="let item of modelItem; let i = index;" [item]="item" [index]="i" [root]="true">
                <ng-container>
                    <a [attr.href]="item.url" (click)="itemClick($event)" *ngIf="!item.routerLink || item.items" (mouseenter)="onMouseEnter()" (keydown.enter)="itemClick($event)"
                    [attr.target]="item.target" [attr.tabindex]="0" [ngClass]="item.class">
                        <span class="menuitem-text">{{item.label}}</span>
                        <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>
                        <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
                    </a>
                    <a (click)="itemClick($event)" (mouseenter)="onMouseEnter()" *ngIf="item.routerLink && !item.items"
                        [routerLink]="item.routerLink" routerLinkActive="active-menuitem-routerlink" [ngClass]="item.class"
                        [routerLinkActiveOptions]="{exact: true}" [attr.target]="item.target" [attr.tabindex]="0">
                        <span class="menuitem-text">{{item.label}}</span>
                        <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>
                        <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
                    </a>
                </ng-container>
            </li>
        </ul>
    </div>
</div>
