<div class="p-grid layout-dashboard" *ngIf="actividad">
    <div class="p-col-12 p-xl-12 p-md-12">
        <div class="p-grid p-dir-col p-nogutter">
            <div class="p-col-12">
                <div class="card widget-statistics" style="min-height: 33vh">
                    <div class="header">
                        <p><span>Fecha: </span>{{actividad.fecha | date: "yyyy/MM/dd HH:mm"}}</p>
                        <p><span>Calificación: </span>{{actividad.calificacion}}/{{actividad.totalPreguntas}}</p>
                        <p><span>Preguntas: </span>{{actividad.totalPreguntas}}</p>
                        <p><span>Tiempo: </span>{{actividad.tiempoTotal}}min</p>
                    </div>
                    <p-divider></p-divider>
                    <div class="questions">
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-check icon"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-check icon"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                        <div class="question ">
                            <h6><span>1.</span> Que s etiene que hacer en caso de emergencia.</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut diam. <i class="pi pi-times icon invalid"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-12">
        <div class="card orders-table" style="min-height: 33vh">
            <h5>Comentarios</h5>

            <div class="comment">
                <app-comentarios [idActividad]="idActividad" [evaluador]="false"></app-comentarios>
            </div>
        </div>
    </div>
</div>