<div
  class="login-body"
  [ngClass]="{ 'layout-dark': dark, 'layout-light': !dark }"
>
  <div class="login-content">
    <div class="night-switch">
      <p-button
        styleClass="dark-switch"
        icon="pi pi-circle-on"
        (click)="dark = true"
      ></p-button>
      <p-button
        styleClass="light-switch"
        icon="pi pi-circle-off"
        (click)="dark = false"
      ></p-button>
    </div>
    <div class="login-panel">
      <div class="login-panel-content">
        <div class="logo">
          <a href="#" class="secondary-button">
            <img
              src="https://pbs.twimg.com/profile_images/1407722978817753092/1c1uNlH7_400x400.jpg"
              alt="EduTech Logo"
            />
          </a>
        </div>

        <h1>Iniciar Sesión</h1>
        <p>Bienvenido de Nuevo a Simuladores Laborales</p>

        <label style="font-size: larger">Iniciar con Email</label>

        <form
          class="forms"
          (ngSubmit)="onSubmit(signInForm)"
          #signInForm="ngForm"
        >
          <div class="login-input-wrapper">
            <label for="username">Correo Electrónico</label>
            <input
              type="email"
              id="username"
              pInputText
              placeholder="ejemplo@gmail.com"
              name="username"
              required
              autofocus
              [(ngModel)]="username"
            />
            <i class="pi pi-user"></i>
          </div>

          <div class="login-input-wrapper">
            <label for="password">Contraseña</label>
            <span><br /></span>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Ingrese su contraseña"
              pPassword
              required
              [(ngModel)]="password"
              [feedback]="false"
              appPassword
              style="width: 80%"
            />
            <button
              pButton
              type="button"
              id="buttonMostrar"
              (click)="mostrarPassword()"
              label="Mostrar "
              style="width: 17%; margin-left: 0.5em"
            ></button>
          </div>

          <div
            class="alert alert-danger"
            role="alert"
            style="margin-bottom: 1em; color: #ce7483"
            *ngIf="isFormValid"
          >
            Por favor llena todos los espacios.
          </div>

          <div
            class="alert alert-danger"
            role="alert"
            style="margin-bottom: 1em; color: #ce7483"
            *ngIf="areCredentialsInvalid"
          >
            Usuario o contraseña ingresa es incorrecta.
          </div>

          <div>
            <div style="text-align: center; width: 100%">
              <button
                pButton
                type="submit"
                label="Login"
                style="width: 50%"
              ></button>
            </div>
          </div>
          <div style="margin-top: 15%; align-items: center">
            <button
              pButton
              routerLink="/registrar"
              label="Todavia no tienes cuenta: Registrate"
              class="p-button-text"
            ></button>
          </div>
        </form>
      </div>

      <div class="desert"></div>
    </div>
  </div>
</div>
