<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-6 p-md-6 p-nogutter">
  
      <div class="card widget-statistics" style="min-height:33vh">
          <h6>Codigo: {{participante?.codigoEstudiante}}</h6>
        <div class="profile">
          <div class="img">
            <img src="assets/img/profile.png" style="width: 100px" alt="" />
            <h4>
              {{participante?.usuario?.nombre}} {{participante?.usuario?.apellido}}
            </h4>
            <p>
              <i class="pi pi-map-marker"></i> {{participante?.usuario?.pais}} - {{participante?.usuario?.ciudad}} - {{participante?.usuario?.direccion}}
            </p>
            <p>
              <i class="pi pi-envelope"></i> {{participante?.usuario?.email}}
            </p>
            <p *ngIf="participante?.usuario?.telefono">
              <i class="pi pi-phone"></i> {{participante?.usuario?.telefono}}
            </p>
          </div>
          <p-divider layout="horizontal" align="center"></p-divider>
  
          <div class="p-grid">
            <div class="p-col-12 p-md-6">
              <p>
                <span>Fecha de nacimiento:</span> {{participante?.usuario?.fechaNacimiento}}
              </p>
            </div>
            <div class="p-col-12 p-md-6">
              <p>
                <span>Genero:</span> {{participante?.usuario?.genero}}
              </p>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="participante?.usuario?.carreraUniversitaria">
              <p>
                <span>Carrera Universitaria:</span> {{participante?.usuario?.carreraUniversitaria}}
              </p>
            </div>
            <div class="p-col-12 p-md-6">
              <p>
                <span>Hijos:</span> {{participante?.usuario?.numeroDeHijos}}
              </p>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="participante?.usuario?.estadoCivil">
              <p>
                <span>Estado civil:</span> {{participante?.usuario?.estadoCivil}}
              </p>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="participante?.usuario?.etnia">
              <p>
                <span>Etnia:</span> {{participante?.usuario?.etnia}}
              </p>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="participante?.usuario?.estudiosPrevios">
              <p>
                <span>Estudios previos:</span> {{participante?.usuario?.estudiosPrevios}}
              </p>
            </div>
            <div class="p-col-12 p-md-6" *ngIf="participante?.usuario?.nivelDeFormacion">
              <p>
                <span>Nivel de formacion:</span> {{participante?.usuario?.nivelDeFormacion}}
              </p>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
   
    <div class="p-col-12 p-xl-6 p-md-6">
      <div class="p-grid p-dir-col p-nogutter">
        <div class="p-col-12">
          <div class="card widget-statistics" style="min-height:33vh">
            <h5>Información de Discapacidad</h5>
            <p-chart type="radar" [data]="radarData"></p-chart>
          </div>
        </div>
      </div>
    </div>
  
  </div>