<div class="p-col-12">
    <div class="card">
        <h5>UNITY ESCENARIOS</h5>
        <div class="p-grid">
          <div class="card">
            <h2 style="color: #71d5ea; font-weight: bold;" >Ejercitarios Asignados</h2>

            
            <p-tabView orientation="left">
                  <p-tabPanel leftIcon="pi pi-image"  *ngFor="let asignacion of listadoAsignaciones" header=" {{asignacion.ejercitario.nombreDeEjercitario}}" >
                      <div class="card" >
                        <p>
                            <b>Fecha de Asignacion:</b> {{asignacion.fechaAsignacion | date:'yyyy-MM-dd HH:mm:ss'}} <br>

                            <b>Ejercitario Asignado</b>  {{asignacion.ejercitario.nombreDeEjercitario}} <br>
                            <b>Tipo de Ejercitario: </b> {{asignacion.ejercitario.tipoDeEjercitario}} <br>
                            <b>Numero de Ejercitario: </b> {{asignacion.ejercitario.numeroDeEjercitario}} <br>
                            <b>Instrucción principal del Ejercitario: </b> {{asignacion.ejercitario.instruccionPrincipalEjercitario}} <br>
                            <b>Duración Ejercitario por Minutos: </b> {{asignacion.ejercitario.duracionEjercitarioPorMinutos}} <br>                                
                            <b> Instrucción para el Participante: </b> {{asignacion.ejercitario.instruccionesParticipantes}} <br>
                        </p>

                        <button  pButton pRipple type="button" (click)="realizarEjercitario(asignacion.ejercitario.urlEjercitarios, asignacion.ejercitario.idEjercitario)" label="Más Información" class="p-button-info p-mr-2 p-mb-2"></button>
                      </div>          
                  </p-tabPanel>
      
            </p-tabView>
        </div>
    </div>
  </div>