<body class="landing-body">
  <app-hero [titulo]="titulo" [descripcion]="descripcion" [btnText]="btnText" [imgLink]="imgLink"></app-hero>
  <div id="features" class="section">
    <div class="section-title">
      <h1>Acerca de nosotros</h1>
    </div>
    <span style="margin-bottom: 2em; margin-top: 2em; font-size: 20px">Somos un equipo de trabajo que brinda su servicio
      arduamente a la
      comunidad con nuestros conocimientos dentro de los diferentes entornos de
      desarrollo tecnológico, con habilidades excepcionales dispuestos ha ayudar
      con herramientas tecnológicas sin animo de lucro.</span>
    <div class="features-content">
      <div class="features-rows">
        <div class="features-row">
          <div class="features-row-icon">
            <div class="feature first"></div>
          </div>
          <div class="features-row-content">
            <h3>OBJETIVO DEL PROYECTO</h3>
            <span>Ayudar a las Instituciones de Educación Superior (IES) de América
              Latina (AL) y europeas en la instauración de unidades de atención
              tecnológicas de la accesibilidad, replicables y adaptables según
              las características de las instituciones, y formar al personal
              implicado en dichas unidades de atención.</span>
          </div>
        </div>
        <div class="features-row">
          <div class="features-row-icon">
            <div class="feature second"></div>
          </div>
          <div class="features-row-content">
            <h3>MISIÓN DEL PROYECTO</h3>
            <br />
            <span>Promover la inclusión educativa y la diversidad mediante
              simuladores virtuales para que los estudiantes universitarios
              desarrollen competencias labores.</span>
            <br />
          </div>
          <div class="contenedorV">
            <div class="features-row">
              <div class="features-row-icon">
                <div class="feature third"></div>
              </div>
              <div class="features-row-content">
                <h3 style="margin-top: 2em">VISIÓN DEL PROYECTO</h3>
                <br />
                <span>Constituirse como un gran pilar para la adquisición de
                  conocimiento y buenas prácticas para el desarrollo de la Educación
                  Superior que contribuye a las mayores posibilidades de
                  empleabilidad a personas con discapacidad.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="effect">
      <img src="../../../../assets/layout/images/pages/landing/effect-bottom-1.svg" alt="mirage-layout" />
    </div>
  </div>
  <div id="pricing" class="section">
    <div class="section-title">
      <h1>Equipo de Desarrollo</h1>
      <p>Personas involucradas dentro del proyecto</p>
    </div>
    <div class="pricing-cards">
      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2 style="font-size: 21px">Est. Juan Carlos Barrera Barrera</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Desarrollo FrontEnd - BackEnd</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://oeradap.edutech-project.org/assets/img/develop.png" style="width: 150px"
            alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:barrerajuan930@gmail.com">
              barrerajuan930@gmail.com
            </a></span>
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:jbarrerab1@est.ups.edu.ec">
              jbarrerab1@est.ups.edu.ec
            </a></span>
        </div>
      </div>

      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Est. Katherine Michelle Barrera Barrera</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Desarrollo FrontEnd - BackEnd</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://cdn-icons-png.flaticon.com/512/2922/2922561.png" style="width: 150px" alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:katerinbarrera21@gmail.com">
              katerinbarrera21@gmail.com
            </a></span>
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:kbarrerab1@est.ups.edu.ec">
              kbarrerab1@est.ups.edu.ec
            </a></span>
        </div>
      </div>
      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Est. Jorge Martin Bojorque Macancela</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Desarrollo Unity</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://oeradap.edutech-project.org/assets/img/develop3.png" style="width: 150px"
            alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:martinbojorque@gmail.com">
              martinbojorque@gmail.com
            </a></span>
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:jbojorque@est.ups.edu.ec">
              jbojorque@est.ups.edu.ec
            </a></span>
        </div>
      </div>
      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Ing. Paola Cristina Ingavelez Guerra</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Docente</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://cdn-icons-png.flaticon.com/512/2922/2922554.png" style="width: 150px" alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:pcingavelez@ups.edu.ec">
              pcingavelez@ups.edu.ec
            </a></span>
        </div>
      </div>

      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Ing. Ángel Andrés Pérez Muñoz</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Docente</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://oeradap.edutech-project.org/assets/img/develop1.png" style="width: 150px"
            alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left; margin-top: 2em">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:aperezm@ups.edu.ec"> aperezm@ups.edu.ec </a></span>
        </div>
      </div>

      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Ing. Rodas Tobar Monica Isabel</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Docente</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://oeradap.edutech-project.org/assets/img/developW.png" style="width: 150px"
            alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:mrodast@uazuay.edu.ec">
              mrodast@uazuay.edu.ec
            </a></span>
        </div>
      </div>

      <div class="pricing-card free">
        <div class="pricing-card-title">
          <h2>Ing. Vladimir Espartaco Robles Bykbaev</h2>
          <p style="font-size: 13px">Cuenca-Ecuador</p>
          <p style="font-size: 13px">Docente</p>
        </div>
        <br />
        <div class="feature-card-img">
          <img src="https://cdn-icons-png.flaticon.com/512/2922/2922690.png" style="width: 150px" alt="mirage-layout" />
        </div>
        <div class="icon icon-hastag" style="text-align: left">
          <span>
            <i class="pi pi-envelope" style="font-size: 1em"></i>
            <a href="mailto:vrobles@ups.edu.ec"> vrobles@ups.edu.ec</a></span>
        </div>
      </div>
    </div>
  </div>



  <script>
    MirageLanding = {
      addClass: function (element, className) {
        if (element.classList) element.classList.add(className);
        else element.className += " " + className;
      },

      removeClass: function (element, className) {
        if (element.classList) element.classList.remove(className);
        else
          element.className = element.className.replace(
            new RegExp(
              "(^|\\b)" + className.split(" ").join("|") + "(\\b|$)",
              "gi"
            ),
            " "
          );
      },

      hasClass: function (element, className) {
        if (element.classList) return element.classList.contains(className);
        else
          return new RegExp("(^| )" + className + "( |$)", "gi").test(
            element.className
          );
      },

      hideMenu: function () {
        this.removeClass(
          document.getElementById("landing-menu"),
          "landing-menu-active"
        );
        this.removeClass(
          document.getElementById("landing-menu-button"),
          "landing-menu-active"
        );
        this.removeClass(
          document.getElementById("landing-mask"),
          "landing-menu-active"
        );
      },

      showMenu: function () {
        this.addClass(
          document.getElementById("landing-menu"),
          "landing-menu-active"
        );
        this.addClass(
          document.getElementById("landing-menu-button"),
          "landing-menu-active"
        );
        this.addClass(
          document.getElementById("landing-mask"),
          "landing-menu-active"
        );
      },
    };

    document
      .getElementById("landing-menu-button")
      .addEventListener("click", function (e) {
        var menu = document.getElementById("landing-menu");

        if (MirageLanding.hasClass(menu, "landing-menu-active")) {
          MirageLanding.hideMenu();
        } else {
          MirageLanding.showMenu();
        }

        e.preventDefault();
      });

    document
      .getElementById("landing-mask")
      .addEventListener("click", function (e) {
        MirageLanding.hideMenu();

        e.preventDefault();
      });

    var menuLinks = document.querySelectorAll("#landing-menu a");
    for (i = 0; i < menuLinks.length; i++) {
      menuLinks[i].addEventListener("click", function (e) {
        MirageLanding.hideMenu();
      });
    }
  </script>
</body>